@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #03045e;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: #f5f5f5;
}
nav {
  display: flex;
  width: 90%;
  margin: 24px auto;
  justify-content: center;
  height: 15vh;
}
nav img {
  width: 91px;
  height: 35px;
  margin-top: 6px;
  width: 10%;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.nav-section {
  display: flex;
  width: 90%;
}
.nav-links {
  margin-right: 35%;
}
.nav-links ul {
  display: flex;
  padding: 9px;
  gap: 4px;
}
.nav-links li a {
  padding: 0px 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #000814;
  margin-right: 24px;
}
.active {
  color: #03034e;
  font-weight: bolder;
}
.nav-button-1 {
  border: none;
  font-family: var(--font-family);
  background: var(--background-color);
  padding: 9px 18px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #000814;
}
.nav-button-2 {
  border: none;

  width: 97px;
  height: 40px;
  background: #03045e;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 13.2px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  color: #ffffff;
}
.head {
  background: linear-gradient(266.86deg, #8182af 0%, rgba(3, 4, 94, 0.46) 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.faq {
  margin-top: 9px;
  text-align: center;
}
.faq h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  color: #03045e;
}
main {
  margin-top: 132px;
}
.rowbar h3 {
  font-weight: 500;
  font-size: 20px;
  color: #03045e;
}
.rowbar p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #03045e;
}
.margin {
  margin-left: 12px;
}
.help-icons {
  width: 35px;
  height: 35px;
}
.last-section {
  margin-top: 35.9px;
  margin-bottom: 100px;
  background: linear-gradient(269.13deg, #8181ae 0%, rgba(3, 4, 94, 0.45) 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  height: 128px;
}
.row-questions {
  display: flex;
  align-items: center;
}
.row-question-1 p {
  font-family: var(--primary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #03045e;
  margin-top: 45px;
  margin-left: 4px;
}
/*footer css*/
.footer {
  background-color: var(--primary-color);
  height: 47vh;
}
.fluid {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
}
.navigation {
  display: flex;
  color: #ffffff;
  margin-top: 80px;
}
.navigation li a {
  font-size: 12px;
  padding-right: 100px;
}
.company,
.platform,
.community,
li a {
  color: #ffffff;
  font-family: var(--font-family);
  font-weight: 400px;
}
.li {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 33px;
}
.description {
  margin-right: 25%;
  margin-left: 10%;
  margin-top: -14px;
}
.footer-logo {
  width: 180px;
  height: 50px;
}
.description p {
  font-size: 12px;
  color: white;
  margin-top: 10px;
  margin-left: 32px;
}
.socials {
  margin-left: 12.5%;
}
.socials img {
  width: 20px;
  height: 20px;
  margin-right: 18px;
}
