@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
}

/*footer css*/
.fluid {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.navigation {
  display: flex;
}
