<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="../../scripts/school_dashboard script/school_dashboard.js"
      defer
    ></script>
    <title>Debt Tracking Website (Deudoras) - Dashboard for School</title>
    <link
      rel="stylesheet"
      href="../../style/school_dashboard/school_dashboard.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&family=Public+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="main-upload">
      <nav id="mobile-nav">
        <img
          src="../../assets/about us assests/hamClose.png"
          id="close"
          alt="close button"
        />
        <ul>
          <a href="{% url schoolhome %}"><li>Dashboard</li></a>
          <a href="{% url profile %}">
            <li class="activeMobileNav">Profile</li></a
          >
          <a href="{% url schools %}"><li>Schools</li></a>
          <a href="{% url debtor %}"><li>Debtors List</li></a>
          <a href="{% url article %}"><li>Articles</li></a>
          <a href="school_dashboard_need_help.html"><li>Need Help</li></a>
        </ul>
        <button>Log Out</button>
      </nav>
      <aside class="desktop">
        <div class="sidebar">
          <img
            src="../../assets/school_dashboard assets/desktoplogo.png"
            alt=""
            class="desktop desklogo"
          />

          <nav>
            <div class="navItem">
              <a href="{% url schoolhome %}"
                ><span
                  ><img
                    src="../../assets/school_dashboard assets/whiteDashDesk.png"
                    alt=""
                  />Dashboard</span
                ></a
              >
              <a href="{% url profile %}"
                ><span class="activeMenuDesktop"
                  ><img
                    src="../../assets/school_dashboard assets/profile col.png"
                    alt=""
                  />
                  Profile
                </span></a
              >
              <a href="{% url schools %}"
                ><span
                  ><img
                    src="../../assets/school_dashboard assets/teacher.png"
                    alt=""
                  />
                  Schools
                </span></a
              >
              <a href="{% url debtor %}"
                ><span
                  ><img
                    src="../../assets/school_dashboard assets/receipt-item.png"
                    alt=""
                  />
                  Debtors List
                </span></a
              >
              <a href="{% url article %}"
                ><span
                  ><img
                    src="../../assets/school_dashboard assets/book.png"
                    alt=""
                  />Article</span
                ></a
              >
            </div>
            <div class="navItem navItemMB">
              <a href="school_dashboard_need_help.html"
                ><span
                  ><img
                    src="../../assets/school_dashboard assets/device-message.png"
                    alt=""
                  />Need Help?</span
                ></a
              >
              <span class="danger-btn">
                <img
                  src="../../assets/school_dashboard assets/logout.png"
                  alt=""
                />Log Out
              </span>
            </div>
          </nav>
        </div>
      </aside>
      <aside class="tablet tablet-sidebar">
        <img
          src="../../assets/school_dashboard assets/tab log.png"
          alt=""
          class="tabletLOgo"
        />
        <nav>
          <div class="navItem">
            <a href="{% url schoolhome %}">
              <span
                ><img
                  src="../../assets/school_dashboard assets/dash tab w.png"
                  alt=""
                />Dashboard</span
              ></a
            >
            <a href="{% url profile %}"
              ><span class="activeMenuDesktop"
                ><img
                  src="../../assets/school_dashboard assets/profile col.png"
                  alt=""
                />Profile</span
              ></a
            >
            <a href="{% url schools %}">
              <span
                ><img
                  src="../../assets/school_dashboard assets/ion_school-outline tab.png"
                  alt=""
                />Schools</span
              ></a
            >

            <a href="{% url debtor %}"
              ><span
                ><img
                  src="../../assets/school_dashboard assets/receipt-item tab.png"
                  alt=""
                />Debtors List</span
              ></a
            >

            <a href="{% url article %}"
              ><span
                ><img
                  src="../../assets/school_dashboard assets/book tab.png"
                  alt=""
                />Article</span
              ></a
            >
          </div>
          <div class="navItem navItemMB">
            <a href="school_dashboard_need_help.html"
              ><span
                ><img
                  src="../../assets/school_dashboard assets/device-message tab.png"
                  alt=""
                />Need Help?</span
              >
            </a>
            <span class="danger-btn">
              <img
                src="../../assets/school_dashboard assets/logout tab.png"
                alt=""
              />Log Out
            </span>
          </div>
        </nav>
      </aside>
      <section class="Content">
        <div class="Container">
          <section class="first-section">
            <div class="mobileMain">
              <div class="logo">
                <img
                  src="../../assets/about us assests/HamOPen.png"
                  alt="hamopen"
                  class="mobileBtnOpen"
                />
                <img src="" alt="mobile-logo" />
              </div>

              <div class="search">
                <img
                  src="../../assets/school_dashboard assets/icon-bell.png"
                  alt="notificationIcon"
                />
                <div class="search_noti">
                  <p>B</p>
                  <img
                    src="../../assets/signup_school assets/"
                    alt="dropdownIcon"
                  />
                </div>
              </div>
            </div>
            <div class="school_dashboard_debtorlist_section upload">
              <div class="desktop-tablet search">
                <div>
                  <div class="search_noti">
                    <img
                      src="../../assets/school_dashboard assets/icon-bell.png"
                      alt="notificationIcon"
                    />
                    <div class="dropFlex">
                      <p>B</p>
                      <img
                        src="../../assets/school_dashboard assets/arrow-down.png"
                        alt="dropdownIcon"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="mainProfile">
            <div class="profilesumary">
              <p class="school-acroynm">B</p>
              <p class="outline-border">Edit Profile</p>
            </div>
            <div class="SchoolDetails">
              <div>
                <h3 class="blue">Bernard Nur & Pry School</h3>
                <p class="grey">School ID: 10089OG</p>
              </div>
              <div class="divMainInfo">
                <p class="sch-name">School Information</p>
                <div class="schoolFlexdetails">
                  <div class="flexschoolInfo">
                    <div>
                      <p class="grey">School Name</p>
                      <p class="blue">Bernard Nur & Pry School</p>
                    </div>
                    <div>
                      <p class="grey">Full Schoool Address</p>
                      <p class="blue">House 30, Gbagada road</p>
                    </div>
                  </div>
                  <div class="schoolend">
                    <div>
                      <p class="grey">Schoool Email Address</p>
                      <p class="blue">Bernard@gmail.com</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divMainInfo">
                <p class="sch-name">Debt Information</p>
                <div class="schoolFlexdetails">
                  <div class="flexschoolInfo">
                    <div>
                      <p class="grey">Number of Debtors</p>
                      <p class="blue">20</p>
                    </div>
                    <div>
                      <p class="grey">Number of Debtors</p>
                      <p class="blue">5</p>
                    </div>
                  </div>
                  <div class="schoolend">
                    <div>
                      <p class="grey">Number of Disputes</p>
                      <p class="blue">7</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>
  </body>
</html>
