<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="../../scripts/school_dashboard script/school_dashboard.js"
      defer
    ></script>
    <title>Debt Tracking Website (Deudoras) - Dashboard for School</title>
    <link
      rel="stylesheet"
      href="../../style/school_dashboard/school_dashboard.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&family=Public+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <nav id="mobile-nav">
        <img
          src="../../assets/about us assests/hamClose.png"
          id="close"
          alt="close button"
        />
        <ul>
          <a href="{% url schoolhome %}"> <li>Dashboard</li></a>
          <a href="{% url profile %}"> <li>Profile</li></a>

          <a href="{% url schools %}"
            ><li class="activeMobileNav">Schools</li></a
          >
          <a href="school_dashboard_debtorlist_section.html"
            ><li>Debtors List</li></a
          >
          <a href="{% url debtor %}"><li>Articles</li></a>
          <a href="{% url article %}"><li>Need Help</li></a>
        </ul>
        <button>Log Out</button>
      </nav>
      <aside class="desktop">
        <div class="sidebar">
          <img
            src="../../assets/school_dashboard assets/desktoplogo.png"
            alt=""
            class="desktop desklogo"
          />
          <nav>
            <div class="navItem">
              <a href="{% url schoolhome %}"
                ><span
                  ><img
                    src="../../assets/school_dashboard assets/whiteDashDesk.png"
                    alt=""
                  />Dashboard</span
                ></a
              >
              <a href="{% url profile %}">
                <span
                  ><img
                    src="../../assets/school_dashboard assets/profile.png"
                    alt=""
                  />Profile</span
                ></a
              >
              <a href="{% url schools %}">
                <span class="activeMenuDesktop"
                  ><img
                    src="../../assets/school_dashboard assets/ion_school-outline.png"
                    alt=""
                  />
                  Schools
                </span>
              </a>
              <a href="{% url debtor %}">
                <span
                  ><img
                    src="../../assets/school_dashboard assets/receipt-item.png"
                    alt=""
                  />Debtors List</span
                ></a
              >
              <a href="{% url article %}">
                <span
                  ><img
                    src="../../assets/school_dashboard assets/book.png"
                    alt=""
                  />Article</span
                ></a
              >
            </div>
            <div class="navItem navItemMB">
              <a href="school_dashboard_need_help.html">
                <span
                  ><img
                    src="../../assets/school_dashboard assets/device-message.png"
                    alt=""
                  />Need Help?</span
                ></a
              >
              <span class="danger-btn">
                <img
                  src="../../assets/school_dashboard assets/logout.png"
                  alt=""
                />Log Out
              </span>
            </div>
          </nav>
        </div>
      </aside>
      <aside class="tablet tablet-sidebar">
        <img
          src="../../assets/school_dashboard assets/tab log.png"
          alt=""
          class="tabletLOgo"
        />
        <nav>
          <div class="navItem">
            <a href="{% url schoolhome %}"
              ><span
                ><img
                  src="../../assets/school_dashboard assets/dash tab w.png"
                  alt=""
                />Dashboard</span
              ></a
            >
            <a href="{% url profile %}">
              <span
                ><img
                  src="../../assets/school_dashboard assets/profileTab.png"
                  alt=""
                />Profile</span
              >
            </a>
            <a href="{% url schools %}">
              <span class="activeMenuDesktop"
                ><img
                  src="../../assets/school_dashboard assets/ion_school-outline.png"
                  alt=""
                />Schools</span
              >
            </a>

            <a href="{% url debtor %}"
              ><span
                ><img
                  src="../../assets/school_dashboard assets/receipt-item tab.png"
                  alt=""
                />Debtors List</span
              ></a
            >

            <a href="{% url article %}"
              ><span
                ><img
                  src="../../assets/school_dashboard assets/book tab.png"
                  alt=""
                />Article</span
              ></a
            >
          </div>
          <div class="navItem navItemMB">
            <a href="school_dashboard_need_help.html">
              <span
                ><img
                  src="../../assets/school_dashboard assets/device-message tab.png"
                  alt=""
                />Need Help?</span
              >
            </a>
            <span class="danger-btn">
              <img
                src="../../assets/school_dashboard assets/logout tab.png"
                alt=""
              />Log Out
            </span>
          </div>
        </nav>
      </aside>
      <section class="Content">
        <div class="Container">
          <section class="first-section">
            <div class="mobileMain">
              <div class="logo">
                <img
                  src="../../assets/about us assests/HamOPen.png"
                  alt="hamopen"
                  class="mobileBtnOpen"
                />
                <img src="" alt="mobile-logo" />
              </div>

              <div class="search">
                <img
                  src="../../assets/school_dashboard assets/icon-bell.png"
                  alt="notificationIcon"
                />
                <div class="search_noti">
                  <p>B</p>
                  <img
                    src="../../assets/signup_school assets/"
                    alt="dropdownIcon"
                  />
                </div>
              </div>
            </div>
            <div class="firstSectionArticle pageSchool">
              <div>
                <h2>Schools</h2>
                <p>List of schools on the platform</p>
              </div>
              <div class="desktop-tablet search">
                <div class="serach-on">
                  <img
                    src="../../assets/school_dashboard assets/bx-search-alt.png"
                    alt="searchIcon"
                  />
                  <input placeholder="Search (Ctrl+/)" />
                </div>
                <div class="search_noti">
                  <img
                    src="../../assets/school_dashboard assets/icon-bell.png"
                    alt="notificationIcon"
                  />
                  <div class="dropFlex">
                    <p>B</p>
                    <img
                      src="../../assets/school_dashboard assets/arrow-down.png"
                      alt="dropdownIcon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="second-section-school">
            <a href="school_dashboard_school_view.html"
              ><div class="tableFlex">
                <div>
                  <p class="special-school">A</p>
                  <p>Ava Memorial College</p>
                </div>
                <div>
                  <img
                    src="../../assets/school_dashboard assets/pGroup.png"
                    alt=""
                  />
                  <p>10</p>
                </div>
              </div></a
            >
            <a href="school_dashboard_school_view.html"
              ><div class="tableFlex">
                <div>
                  <p class="special-school">A</p>
                  <p>Ava Memorial College</p>
                </div>
                <div>
                  <img
                    src="../../assets/school_dashboard assets/pGroup.png"
                    alt=""
                  />
                  <p>10</p>
                </div>
              </div></a
            >
            <a href="school_dashboard_school_view.html"
              ><div class="tableFlex">
                <div>
                  <p class="special-school">A</p>
                  <p>Ava Memorial College</p>
                </div>
                <div>
                  <img
                    src="../../assets/school_dashboard assets/pGroup.png"
                    alt=""
                  />
                  <p>10</p>
                </div>
              </div></a
            >
            <a href="school_dashboard_school_view.html"
              ><div class="tableFlex">
                <div>
                  <p class="special-school">A</p>
                  <p>Ava Memorial College</p>
                </div>
                <div>
                  <img
                    src="../../assets/school_dashboard assets/pGroup.png"
                    alt=""
                  />
                  <p>10</p>
                </div>
              </div></a
            >
            <a href="school_dashboard_school_view.html"
              ><div class="tableFlex">
                <div>
                  <p class="special-school">A</p>
                  <p>Ava Memorial College</p>
                </div>
                <div>
                  <img
                    src="../../assets/school_dashboard assets/pGroup.png"
                    alt=""
                  />
                  <p>10</p>
                </div>
              </div></a
            >
            <a href="school_dashboard_school_view.html"
              ><div class="tableFlex">
                <div>
                  <p class="special-school">A</p>
                  <p>Ava Memorial College</p>
                </div>
                <div>
                  <img
                    src="../../assets/school_dashboard assets/pGroup.png"
                    alt=""
                  />
                  <p>10</p>
                </div>
              </div></a
            >
            <a href="school_dashboard_school_view.html"
              ><div class="tableFlex">
                <div>
                  <p class="special-school">A</p>
                  <p>Ava Memorial College</p>
                </div>
                <div>
                  <img
                    src="../../assets/school_dashboard assets/pGroup.png"
                    alt=""
                  />
                  <p>10</p>
                </div>
              </div></a
            >
            <a href="school_dashboard_school_view.html"
              ><div class="tableFlex">
                <div>
                  <p class="special-school">A</p>
                  <p>Ava Memorial College</p>
                </div>
                <div>
                  <img
                    src="../../assets/school_dashboard assets/pGroup.png"
                    alt=""
                  />
                  <p>10</p>
                </div>
              </div></a
            >
          </section>
        </div>
      </section>
    </main>
  </body>
</html>
