<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      <strong>Message:</strong> {{ message }}
      <button
        type="button"
        class="class"
        data-dismiss="alert"
        aria-labels="class"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

    <h3>Welcome to Deudoras</h3>
    <button type="submit"><a href="/signin">SignIn</a></button>
    <br />
    <br />
    <button type="submit"><a href="/signup">SignUp</a></button>

    {% if user.is_authenticated %}
    <h1><h1>Hello {{ name }}</h1></h1>
    <h4>You are succesfully logged in</h4>
    <button type="submit"><a href="/signout">SignOut</a></button>
    {% else %}
    <button type="submit"><a href="/signin">SignIn</a></button>
    <br />
    <br />
    <button type="submit"><a href="/signup">SignUp</a></button>
    {% endif %}
  </body>
</html>
