* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6faff;
  font-family: "Manrope", sans-serif;
}

.header-content {
  background-color: #03045e;
  border-radius: 8px;
  width: 90%;
  height: 114px;
  left: 22px;
  position: relative;
  top: 0;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

h6 {
  width: 107px;
  height: 27px;
  left: 108px;
  top: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fefefe;
  line-height: 27px;
  letter-spacing: 0.0015em;
  position: absolute;
}
.header-img {
  width: 157px;
  height: 108px;
  left: 7px;
  top: 6px;
  position: absolute;
}

.main-content {
  display: flex;
  flex-direction: column-reverse;
}

.contact-info {
  background-color: #03045e;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contact-info p {
  color: white;
}

.desc-2 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  width: 60%;
}

.desc-2 h5 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  font-style: normal;
  width: 225px;
  height: 33px;
  margin-top: 25px;
}

.desc-2 p {
  font-size: 16px;
  font-weight: 400;
  /* margin-bottom: 10px; */
  font-style: normal;
  width: 239px;
  height: 44px;
  left: 68px;
}
.desc-1 {
  padding-bottom: 10px;
}

/* .desc-1 p {
    margin-bottom: 5px;
    font-size: 13.2px;
    line-height: 20px;
        letter-spacing: 00.0015em;
        width: 180px;
} */

.contact-details {
  display: flex;
  margin: 10px;
  /* font-size: 10px; */
  margin-bottom: 5px;
  font-size: 13.2px;
  line-height: 20px;
  letter-spacing: 00.0015em;
  width: 55%;
}

.contact-details img {
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 15px;
  padding-bottom: 20px;
}

.form-details {
  margin: 10px;
  text-align: center;
}

.desc {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-align: center;
  width: 60%;
  /* height: 54px; */
  margin-left: 4em;
  /* position: relative; */
  letter-spacing: 00.0025em;
  line-height: 27px;
}
form {
  margin-bottom: 5em;
}

.contact-form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  color: #535454;
  font-size: 13.2px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.004em;
}

input {
  border: 1px solid #535454;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  color: #535454;
  height: 40px;
}

input:focus {
  border: 1px solid #2e2f30;
}

input:active {
  border: 1px solid;
}

.btn {
  text-align: center;
  border: 1px;
  border-radius: 5px;
  padding: 12px;
  font-size: 12px;
  color: #fff;
  background-color: #03045e;
  width: 70%;
  position: relative;
}

.footer-cont {
  background-color: #03034e;
  color: #fff;
  /* margin-top: 2em; */
}

.footer-elem {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  width: 50%;
}

a {
  color: #fff;
  text-decoration: none;
}

.quick-links {
  padding-bottom: 10px;
}

.quick-links li {
  list-style-type: none;
  font-size: 8px;
  text-align: left;
  padding: 2px;
}

.quick-links p {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 10px;
  margin-right: 20px;
}

.footer-contact small {
  font-size: 8px;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: lighter;
}

.logo {
  width: 100px;
  margin-top: 20px;
}

.footer-icons {
  width: 100px;
  margin-top: 20px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 10px;
  padding: 10px;
}

#send {
  position: absolute;
  z-index: 2;
  padding: 10px;
  left: 30%;
}
/* .nav-logo{
    position: relative;
    left: 70%;
} */

.nav-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 2em; */
  margin-top: 10px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  background: #fff;
  width: 50%;
  height: 100vh;
  z-index: 5;
  transform: translateX(-100%);
  /* transition: transform .3s ease-in-out; */
}

.nav-bar li:hover {
  background-color: #03034e;
  color: #fff;
  width: 80%;
}

.nav-bar li {
  list-style-type: none;
  color: #03045e;
  padding: 0.75em 2em;
  display: block;
  cursor: pointer;
}

.menu-icon {
  /* margin-top: 2em; */
  cursor: pointer;
  position: relative;
  right: 90%;
  top: 75%;
  bottom: 25%;
  /* border: 2px solid #03034e; */
}

#signup-btn {
  text-align: center;
  padding: 10px;
  margin-top: 3em;
  margin-left: 4em;
  background-color: #fff;
  color: #03034e;
  font-size: 13.2px;
  font-weight: 500;
  font-style: normal;
  border: 1px solid #03034e;
  border-radius: 8px;
}

.close {
  margin-left: 9em;
  margin-top: 1em;
  width: 1em;
  cursor: pointer;
}

.open-nav {
  transform: translateX(0%);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

li {
  list-style: none;
}

/*Primary color*/
/*Neutral color*/
main {
  background-color: #f6faff;
}

header {
  background-color: #e1eff8;
  padding-top: 1.5rem;
}

h2 {
  color: #03045e;
  font-size: clamp(1rem, 3.5vw, 1.3rem);
  line-height: 2rem;
  font-weight: 600;
}

@media (min-width: 700px) {
  h2 {
    font-size: clamp(1.4rem, 3.5vw, 2.5rem);
  }
}

@media (min-width: 1150px) {
  h2 {
    font-size: clamp(2rem, 2.5vw, 3rem);
  }
}

h3 {
  color: #03045e;
  font-size: clamp(1.25rem, 3.5vw, 2rem);
  line-height: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h4 {
  color: #03045e;
  font-size: clamp(0.7rem, 3.5vw, 1.45rem);
  line-height: 1rem;
  font-weight: 400;
}

p {
  color: #000814;
  font-size: 0.65rem;
  line-height: 1rem;
  font-weight: 400;
}

@media (min-width: 700px) {
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

li,
button {
  font-size: 1rem;
  cursor: pointer;
}

li {
  color: #03034e;
}

button {
  font-size: 0.65rem;
}

@media (min-width: 1150px) {
  button {
    font-size: 1rem;
  }
}

.Container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .Container {
    width: 90%;
  }
}

@media (min-width: 1150px) {
  .Container {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .Container {
    padding-block: 2rem;
  }
}

@media (min-width: 700px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}

@media (min-width: 1150px) {
  .desktop {
    display: block;
  }
}

.tablet {
  display: none;
}

@media (min-width: 700px) {
  .tablet {
    display: block;
  }
}

@media (min-width: 1150px) {
  .tablet {
    display: none;
  }
}

#mobile-nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 50%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  gap: 4rem;
  z-index: 100000;
}

#mobile-nav .activeMobileNav {
  background-color: #03045e;
  color: white;
}

#mobile-nav #close {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  margin-right: 10%;
  padding-top: 1.5rem;
}

#mobile-nav button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #03034e;
  padding: 11px 16px;
  border-radius: 8px;
  color: #03034e;
}

#mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#mobile-nav ul li {
  font-size: 1rem;
  padding-block: 1rem;
  padding-left: 1.5rem;
  width: 80%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 700px) {
  nav .desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
  }
}

@media (min-width: 700px) and (min-width: 700px) {
  nav .desktop-nav {
    gap: 0.8re;
  }
}

@media (min-width: 700px) and (min-width: 1150px) {
  nav .desktop-nav {
    gap: 1.2rem;
  }
}

nav .logoflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav .logoflex #active {
  text-shadow: 0px 1px 3px rgba(3, 4, 94, 0.15), 0px 1px 2px rgba(3, 4, 94, 0.3);
  color: #03045e;
  font-weight: 600;
}

@media (min-width: 1150px) {
  nav .logoflex {
    gap: 1.5rem;
  }
}

nav .mobile-Btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 0.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 1150px) {
  nav .mobile-Btn {
    gap: 1rem;
  }
}

nav .mobile-Btn .fillbtn {
  padding: 0.2rem 0.8rem;
  border-radius: 8px;
  outline: none;
  color: white;
  border: none;
  background-color: #03045e;
}

@media (min-width: 700px) {
  nav .mobile-Btn .fillbtn {
    padding: 0.7rem 1.5rem;
  }
}

nav .mobile-Btn .transbtn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #03045e;
}

@media screen and (min-width: 700px) {
  .header-content {
    background-color: #03045e;
    /* justify-content: space-between; */
    border-radius: 8px;
    /* margin: 20px; */
    width: 100%;
    height: 192px;
    left: 0px;
    /* top: 113px; */
    position: relative;
    top: 0;
  }
  h6 {
    width: 169px;
    height: 44px;
    left: 332px;
    top: 74px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #fefefe;
    line-height: 44px;
    letter-spacing: 00.0015em;
    position: absolute;
  }

  .header-img {
    width: 280px;
    height: 192px;
    left: 0px;
    top: 0px;
    position: absolute;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em;
    gap: 2em;
  }

  .contact-info {
    border: 1;
    border-radius: 5px;
    display: block;
  }

  .contact-details {
    padding-bottom: 1.5em;
  }

  .icons {
    margin-top: 3em;
  }

  .logo {
    margin-top: 2em;
    width: 20%;
  }

  .footer-links {
    margin-right: 3em;
    width: 40%;
  }

  .quick-links {
    gap: 2em;
    padding-bottom: 2em;
  }

  .desc-2 p {
    margin-bottom: 2em;
  }

  #send {
    /* left: 60%;
        bottom: 43%; */
    margin-top: 2em;
    left: 45%;
  }

  .btn {
    margin-top: 2em;
    padding: 1.5em;
  }
  .desc {
    margin-top: 1em;
    margin-bottom: 1.5em;
    text-align: left;
    margin-left: 1em;
    width: 70%;
  }

  .footer-cont {
    margin-top: 5em;
  }

  .footer-elem {
    align-items: center;
  }

  .footer-contact {
    margin-left: 3em;
    margin-right: 3em;
  }

  .logo {
    margin-left: 2em;
    margin-right: 2em;
  }

  /* NAV BAR STYLES */
  .menu-icon {
    display: none;
  }
  .nav-logo {
    left: 0%;
  }
  .nav-elements {
    display: flex;
    /* width: 100%; */
  }

  .nav-bar {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
  /* .nav-bar li{
        padding-left: 1em;
        padding-right: 1em;
    } */
  .nav-bar li:hover {
    background: none;
    width: auto;
    color: #03045e;
    font-weight: 600;
  }

  .links {
    display: flex;
    color: #000814;
    font-weight: 400;
    font-size: 16px;
    /* padding: .75em; */
  }
  /* .nav-bar li{
        padding: .5em
    } */

  .nav-links {
    margin-right: 5em;
    /* margin-left: 3em; */
    display: flex;
    justify-content: right;
    width: 50%;
  }

  .contact-btn {
    color: #03045e;
    font-weight: 600;
  }

  #signup-btn {
    background: #03045e;
    color: #fff;
    border-radius: 8px;
    font-size: 13.2px;
    margin-left: 0;
    margin-top: 0;
    border: 0;
    /* width: 40%;
        padding: 1em; */
    /* padding-: .5em; */
  }
  .nav-links li {
    padding: 1em;
  }

  /* .nav-logo {
        width: 10em;
    } */

  .close {
    display: none;
  }

  /* .nav-links {
        display: flex;
        width: 50%;
        margin-left: 3em;
    } */

  .signup-links {
    display: flex;
    justify-content: left;
    width: 30%;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-content {
    background-color: #03045e;
    border-radius: 0px;
    width: 100%;
    height: 196px;
    left: 0px;
    position: relative;
    top: 108;
  }

  h6 {
    width: 253px;
    height: 66px;
    left: 40%;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #fefefe;
    line-height: 66px;
    letter-spacing: 00.0015em;
    position: absolute;
  }

  .header-img {
    width: 289px;
    height: 196px;
    left: 0px;
    top: 0px;
    position: absolute;
  }

  .main-content {
    width: 70%;
    margin: 0 auto;
  }

  .desc-2 {
    width: 50%;
  }

  .desc {
    width: 100%;
    color: #02033f;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
  }

  .contact-details {
    margin-bottom: 0em;
    padding-bottom: 0em;
  }

  .icons {
    margin-top: 0em;
    padding-bottom: 0em;
  }

  form {
    width: 80%;
  }

  .contact-info {
    height: 70%;
    margin-left: 3em;
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .form-details {
    margin-top: 4em;
    margin-bottom: 3em;
  }
}
footer {
  /* margin-top: 5rem; */
  padding-block: 5rem;
  background-color: #03045e;
  color: white;
}
@media (min-width: 1150px) {
  footer {
    margin-top: 4em;
  }
}

footer .logo-img {
  margin-left: -10px;
  margin-bottom: 1rem;
}

@media (min-width: 1150px) {
  footer .logo-img {
    margin-left: -30px;
  }
}

footer li {
  font-size: 8px;
  color: white;
}

@media (min-width: 700px) {
  footer li {
    font-size: clamp(0.7rem, 3.5vw, 1rem);
  }
}

footer .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .contact-flex p {
  color: white;
  font-size: 8px;
}

@media (min-width: 700px) {
  footer .contact-flex p {
    font-size: clamp(0.7rem, 3.5vw, 1rem);
  }
}

footer .contact-flex #mail {
  margin-bottom: 0.5rem;
}

footer .contact-flex .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 700px) {
  footer .contact-flex .social {
    gap: 2rem;
  }
}

footer .ul-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

@media (min-width: 700px) {
  footer .ul-flex {
    gap: 3rem;
  }
}

@media (min-width: 1150px) {
  footer .ul-flex {
    gap: 8rem;
  }
}

footer .ul-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
}

footer .ul-flex .first-list-item {
  margin-bottom: 1rem;
  font-size: 10px;
  font-weight: 600;
}

@media (min-width: 700px) {
  footer .ul-flex .first-list-item {
    font-size: 1.3rem;
  }
}
