@import "./reset", "./variable";

body {
    background-color: #F6FAFF;
}
div.body_sidebar{
    display: flex;
    justify-content: space-between;
}


.navv {
    padding: 1em 0 2em 0;
    background-color: $primary-col-dash;
    height: 100vh;
    width: 20%;
}
.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav_links_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_links_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav_links_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}


.nav_items {
    padding: 1em 3em;
    display: flex;
    // justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $background-col-white;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}
.space{
    padding-right: 1.3em;
}
.space2{
    padding-right: 1.3em;
}
@media screen and (max-width: 1243px){
    .space2{
        padding-right: 3px;
    }
}
.log_out{
    background-color: $danger-dash;
    // padding: 0.8em 0.8em;
    // width: 80%;
    border-radius: 5px;
}
.nav_items:visited{
    color: $primary-col-dash;
    // background-color: $background-col-dash;
}
.logo{
    width: 15em;
    height: 4em;
    margin-bottom: 3em;
    margin-top: 2em;
}
.logo2{
    width: 4em;
    height: 4em;
    margin-bottom: 3em;
    margin-top: 2em;
    display: none;
}
.svg-white{
    color: white;
}

.nav_items_2 {
    margin: auto;
    align-self: center;
    align-items: center;
}
.nav_items_2--img {
    width: 30px;
    height: 30px;
}


////////////////

main{
    padding: 4em 2em 2em 2em;
    width: 90%;
}
div.main_school_name-container{
    margin-bottom: 1.5em;
}
p.main_school_name{
    font-size: 1.7em;
    font-weight: 400;
    color: $primary-col-dash;
}
section.student_personal_detail{
    width: 70%;
}
p.student_personal{
    font-size: 1.3em;
    color: $primary-col-dash;
    margin-bottom: 1.5em;
}
div.student-cont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}
div.student-cont2{
    display: flex;
    flex-direction: column;
}
.input-stu-cont{
    border-radius: 5px;
    padding: 0.3em;
}


div.section_next{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.upload_debtor{
    background-color: $primary-col-dash;
    color: $primary-col-white;
    border-radius: 5px;
    border: 2px solid transparent;
}