/*Primary color*/

$p-c-dark-blue: #03045e;
$s-c-ligt-blue: #00b4d8;
$grayishbalck: #323232;
$Background-col: #f6faff;
$para-color: #000814;
$light-lightGrey: #d9d9d9;
/*Neutral color*/

$danger: #d31616;
$light-greyish: #535454;
$background-white: hsl(0, 0%, 95%);

$large_screen: 900px;

$medium_screen: 650px;
$medium_screenm: 1200px;
$medium_screenl: 1300px;

@mixin large {
  @media (min-width: $large_screen) {
    @content;
  }
}
@mixin medium {
  @media (min-width: $medium_screen) {
    @content;
  }
}
@mixin mmedium {
  @media (min-width: $medium_screenm) {
    @content;
  }
}
@mixin lmedium {
  @media (min-width: $medium_screenl) {
    @content;
  }
}
