@import "./reset";
@import "./variable";

// color & typoyography
body {
  height: 100vh;
  width: 100vw;
  background-color: $Background-col;

  @include large {
    background-color: transparent;
  }
}

h3 {
  color: $p-c-dark-blue;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  line-height: 2rem;
}
p {
  color: $para-color;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  line-height: 1.5rem;
}
label span {
  color: $danger;
}
button {
  background-color: $p-c-dark-blue;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 8px;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
  box-shadow: 0px 2px 3px rgba(3, 4, 94, 0.3),
    0px 6px 10px 4px rgba(3, 4, 94, 0.15);
}
label {
  color: $light-greyish;
}
.alreadyAccount {
  color: $grayishbalck;
  font-size: 0.8rem;
  span {
    color: $p-c-dark-blue;
  }
}
// alignment
.Container {
  width: 90%;

  margin: 0 auto;

  @include medium {
    width: 60%;
  }
  @include large {
    width: 90%;
    padding-block: 1.5rem;
  }
}
img {
  width: 60%;
  @include medium {
    width: unset;
  }
}
.mobile-tab {
  width: unset;
  display: none;
  @include medium {
    display: block;
  }
  @include large {
    display: none;
  }
}
.mobile {
  @include medium {
    display: none;
  }
}
.desktop {
  display: none;
  @include large {
    display: block;
  }
}
.logo-fix {
  width: unset;
}

#main {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
  justify-content: center;
  height: 100vh;

  @include large {
    flex-direction: row;
    gap: 0;
    align-items: center;
  }

  &_2 {
    @include large {
      background-color: $Background-col;
      height: 100vh;
      width: 50%;
    }
  }
  &_1 {
    @include large {
      background-color: white;
      height: 100vh;
      width: 50%;
    }
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;

    @include large {
      margin-bottom: 0;
    }
  }
}
.desktop-logo {
  align-self: end;
}
.progress-bar {
  @include large {
    display: flex;
    gap: 1em;
    margin-bottom: 1.3rem;
    div {
      width: 45px;
      height: 10px;
      background-color: $light-lightGrey;
      border-radius: 12px;
    }
    .active {
      width: 70px;
      background-color: $p-c-dark-blue;
    }
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  info-p {
    width: 60%;
  }
}
.form_header {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
  @include medium {
    text-align: center;
  }
  @include large {
    text-align: left;
    margin-bottom: 3rem;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @include large {
    gap: 2rem;
  }
  input,
  select {
    padding: 1em;
    border-radius: 8px;
    font-size: 1rem;
    border: 1px solid $light-greyish;
  }
  &_item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

// Page 2
ul {
  background: #fbfcfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 0.8rem 2rem;
  margin-bottom: 1.5rem;
  @include medium {
    margin-bottom: 2rem;
  }
  @include large {
    margin-bottom: 2.8rem;
  }
  li {
    list-style-type: disc;
    list-style-position: inside;
  }
}
.checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  span {
    color: #575894;
  }
}
