@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #03045e;
  --secondary-color: #0077b6;
  --background-color: #f6faff;
  --font-family: "Manrope", sans-serif;
}
/* spans*/
.span-1 {
  color: var(--secondary-color);
}

button {
  cursor: pointer;
}
body {
  background-color: var(--background-color);
}
nav {
  display: flex;
  width: 80%;
  margin: 24px auto;
  justify-content: center;
}
.nav-img {
  width: 10%;
}
.nav-img img {
  width: 91px;
  height: 35px;
  margin-top: 6px;
}
a {
  text-decoration: none;
}
.fa-angle-right {
  padding-left: 15px;
  padding-top: 5px;
}

li {
  list-style-type: none;
}
.nav-section {
  display: flex;
  width: 90%;
}
.nav-links {
  margin-left: 40px;
}
.nav-links ul {
  display: flex;
  padding: 9px;
  gap: 4px;
}
.nav-links li a {
  padding: 0px 10px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #000814;
  margin-right: 24px;
}
.nav-buttons {
  display: flex;
  margin-left: 24%;
}
.nav-button-1 {
  border: none;
  font-family: var(--font-family);
  background: var(--background-color);
  padding: 9px 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #000814;
}
.nav-button-2 {
  border: none;

  width: 97px;
  height: 40px;
  background: #03045e;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 13.2px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  color: #ffffff;
}
#active {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #03034e;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #fafbfc;
  box-shadow: 0px 1px 3px 1px rgba(3, 4, 94, 0.15),
    0px 1px 2px rgba(3, 4, 94, 0.3);
  padding: 10px;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: var(--primary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--font-family);
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* section 1 and it's divisions*/
.section-1 {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.division-1 {
  width: 100%;
}
.division-2 {
  width: 100%;
}
.division-1 h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: -80px;
  font-style: normal;
  line-height: 66px;
  letter-spacing: -0.005em;
  color: #000814;
}
.division-1 p {
  font-family: var(--font-family);
  width: 297.66px;
  margin-bottom: 20px;
  height: 36px;
  font-weight: 500;
  font-size: 13.2px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #010113;
}
.division-1 > button {
  border: none;
  border-radius: 8px;
  background: var(--primary-color);
  padding: 11px 24px;
  width: 239px;
  height: 49px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.0015em;
  color: #ffffff;
}

.division-2 > img {
  margin-top: 10px;
  height: 493px;
  width: 690px;
}
/* sectiion 2*/

.container-1 h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  text-align: center;
  color: #010113;
  margin-top: 135px;
}

.container-1 p {
  font-family: var(--font-family);
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.0015em;
  color: #010113;
  margin: auto 16%;
  margin-bottom: 124px;
}
.layout {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
  margin-bottom: 82px;
}
.simplicity {
  background: #fafbfc;
  box-shadow: 0px 1px 3px 1px rgba(3, 4, 94, 0.15),
    0px 1px 2px rgba(3, 4, 94, 0.3);
  padding: 30px;
  padding-left: 60px;
  width: 43%;
}
.simplicity-image {
  width: 43%;
  margin-right: 80px;
}
.simplicity-image img {
  width: 100%;
}
.simplicity h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  color: #03034e;
}
.simplicity button {
  width: 235px;
  height: 50px;
  background: #03034e;
  box-shadow: 0px 2px 6px 2px rgba(3, 4, 94, 0.15),
    0px 1px 2px rgba(3, 4, 94, 0.3);
  border: none;
  border-radius: 16px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.0125em;
  color: #fafbfc;
  margin-left: 20px;
}
.s-p1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.0025em;
  color: #0096b4;
  margin-bottom: 16px;
}
.s-p2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #000814;
  margin-bottom: 50px;
}
.contention {
  background: #fafbfc;
  box-shadow: 0px 1px 3px 1px rgba(3, 4, 94, 0.15),
    0px 1px 2px rgba(3, 4, 94, 0.3);
  padding: 30px;
  padding-left: 60px;
  margin-right: 80px;
  width: 43%;
}
.contention-image {
  width: 43%;
}
.contention-image img {
  width: 100%;
}
.contention h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  color: #03034e;
  margin-bottom: 4px;
}
.contention button {
  border: none;
  padding: 16px;
  width: 235px;
  background: #03034e;
  box-shadow: 0px 2px 6px 2px rgba(3, 4, 94, 0.15),
    0px 1px 2px rgba(3, 4, 94, 0.3);
  border-radius: 16px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  color: #fafbfc;
}
.c-p1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.0025em;
  color: #0096b4;
  margin-bottom: 16px;
}
.c-p2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #000814;
  margin-bottom: 50px;
}

.privacy {
  background: #fafbfc;
  box-shadow: 0px 1px 3px 1px rgba(3, 4, 94, 0.15),
    0px 1px 2px rgba(3, 4, 94, 0.3);
  padding: 30px;
  padding-left: 60px;
  width: 43%;
}
.privacy-image {
  width: 43%;
  margin-right: 80px;
}
.privacy-image img {
  width: 100%;
}
.privacy button {
  border: none;
  width: 235px;
  height: 50px;
  background: #03034e;
  box-shadow: 0px 2px 6px 2px rgba(3, 4, 94, 0.15),
    0px 1px 2px rgba(3, 4, 94, 0.3);
  border-radius: 16px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  color: #fafbfc;
  margin-left: 20px;
}
.privacy h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  color: #03034e;
  margin-bottom: 4px;
}
.p-p1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.0025em;
  color: #0096b4;
  margin-top: 16px;
}
.p-p2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #000814;
  margin-bottom: 50px;
}

/* section 3*/

.work {
  text-align: center;
}
.work h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  text-align: center;
  color: #010113;
  margin-bottom: 8px;
}
.work p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.0015em;
  color: #010113;
  margin-bottom: 64px;
}
.plate-1 {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
}
.plate-1-image img {
  width: 490px;
  height: 402px;
  background: url();
  filter: drop-shadow(0px 9.32px 9.32px rgba(0, 0, 0, 0.25));
  margin-bottom: 80px;
}

.sign-up h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  color: #010113;
  margin-bottom: 8px;
}
.step-1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.0025em;
  color: #007890;
  margin-bottom: 16px;
}
.step-2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.0015em;
  color: #010113;
}
.plate-2 {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
}
.data-1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.0025em;
  color: #007890;
  margin-bottom: 16px;
}
.data h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  color: #010113;
  margin-bottom: 8px;
}
.data-2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.0015em;
  color: #010113;
}
.data-image {
  width: 422px;
  height: 348px;
  background: url();
  filter: drop-shadow(0px 9.16px 9.16px rgba(0, 0, 0, 0.25));
  margin-bottom: 80px;
}
.plate-3 {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
}
.completion {
  margin-left: 178px;
  margin-top: 81px;
}
.completion-image img {
  width: 443px;
  height: 362px;
  margin-bottom: 231px;
}
.completion-1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.0025em;
  color: #007890;
  margin-bottom: 16px;
}
.completion h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  color: #010113;
  margin-bottom: 8px;
}
.completion-2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.0015em;
  color: #010113;
}
.carousel {
  height: 576px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/landing-page-asset/Frame\ 6008.png);
  background-repeat: no-repeat;
  margin-bottom: 174px;
}
.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  margin-top: -60px;

  object-fit: cover;
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.swiper-slide {
  width: 80%;
  margin: auto;
}
.contents1 {
  width: 20%;
}
.contents1 img {
  margin-left: 37px;
  margin-top: 5px;
  width: 142px;
  height: 272px;
}
.contents2 {
  background: #ffffff;
  width: 60%;
  padding: 8px 30px 0px 100px;
  margin-top: -63px;
}
.contents2 h3 {
  margin-bottom: 10px;
}
.slide p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #02033f;
  margin-bottom: 16px;
}
.slide h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #02033f;
}
.slide .details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.details .name {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #02033f;
  margin-bottom: 16px;
}
/* swiper button css */
.nav-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transform: translateY(30px);
  transition: 0.2s;
  margin-top: 112px;
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  font-weight: bolder;
  color: #02033f;
}
.swiper-pagination {
  padding-bottom: 99px;
}
.swiper-button-next {
  margin-right: 180px;
}
.swiper-button-prev {
  margin-left: 180px;
}
.swiper-pagination-bullet {
  background: #d9d9d9;
  opacity: 0.6;
}
.swiper-pagination-bullet-active {
  background-color: #02033f;
}
.plate-4 {
  display: flex;
  margin: auto;
  width: 80%;
}
.goals {
  width: 100%;
}
.goals-image {
  width: 100%;
}
.goals-image img {
  margin-left: 140px;
  width: 386px;
  height: 299.73px;
  margin-bottom: 229px;
}
.goals h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  color: #000814;
  margin-left: 50px;
  margin-bottom: 32px;
}
.goals p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.0015em;
  color: #000814;
}

.help p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.0025em;
  color: #010113;
  text-align: center;
  margin-bottom: 16px;
}
.help h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 66px;
  color: #010113;
  text-align: center;
  margin-bottom: 40px;
}
.fa-plus-circle {
  color: #2d2e79;
  margin-right: 90px;
  width: 42px;
  height: 42px;
}
.help-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  justify-content: center;
  margin-bottom: 216px;
}
.help-2 a {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.0015em;
  color: #010113;
  opacity: 0.6;
}

.footer {
  background-color: var(--primary-color);
  height: 47vh;
}
.fluid {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
}
.navigation {
  display: flex;
  color: #ffffff;
  margin-top: 80px;
}
.navigation li a {
  font-size: 12px;
  padding-right: 100px;
}
.company,
.platform,
.community,
li a {
  color: #ffffff;
  font-family: var(--font-family);
  font-weight: 400px;
}
.li {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 33px;
}
.description {
  margin-right: 25%;
  margin-left: 10%;
  margin-top: -14px;
}
.footer-logo {
  width: 180px;
  height: 50px;
}
.description p {
  font-size: 12px;
  color: white;
  margin-top: 10px;
  margin-left: 32px;
}
.socials {
  margin-left: 12.5%;
}
.socials img {
  width: 20px;
  height: 20px;
  margin-right: 18px;
}
