* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

li {
  list-style: none;
}

/*Primary color*/
/*Neutral color*/
body {
  height: 100vh;
  width: 100vw;
  background-color: #f6faff;
}

@media (min-width: 1150px) {
  body {
    background-color: transparent;
  }
}

h3 {
  color: #03045e;
  font-size: clamp(1rem, 3.5vw, 1.5rem);
  line-height: 2rem;
  font-weight: 600;
}

@media (min-width: 700px) {
  h3 {
    font-size: clamp(1rem, 3.5vw, 1.5rem);
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
  }
}

p {
  color: #000814;
  font-size: clamp(0.7rem, 3.5vw, 1rem);
  line-height: 1.7rem;
  font-weight: 400;
}

@media (min-width: 1200px) {
  p {
    font-size: clamp(1rem, 2.5vw, 1.4rem);
    line-height: 2rem;
  }
}

label span {
  color: #d31616;
}

button {
  background-color: #03045e;
  border: none;
  outline: none;
  padding: 1rem;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  border-radius: 8px;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
  -webkit-box-shadow: 0px 2px 3px rgba(3, 4, 94, 0.3), 0px 6px 10px 4px rgba(3, 4, 94, 0.15);
          box-shadow: 0px 2px 3px rgba(3, 4, 94, 0.3), 0px 6px 10px 4px rgba(3, 4, 94, 0.15);
}

label {
  color: #535454;
  font-weight: 600;
  font-size: clamp(0.7rem, 3.5vw, 1rem);
}

@media (min-width: 1200px) {
  label {
    font-size: clamp(1rem, 2.5vw, 1.4rem);
  }
}

.alreadyAccount {
  color: #323232;
  font-size: 0.8rem;
}

.alreadyAccount span {
  color: #03045e;
}

.Container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .Container {
    width: 60%;
  }
}

@media (min-width: 1150px) {
  .Container {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .Container {
    padding-block: 2rem;
  }
}

img {
  width: 60%;
}

@media (min-width: 700px) {
  img {
    width: unset;
  }
}

.mobile-tab {
  width: unset;
  display: none;
}

@media (min-width: 700px) {
  .mobile-tab {
    display: block;
  }
}

@media (min-width: 1150px) {
  .mobile-tab {
    display: none;
  }
}

@media (min-width: 700px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}

@media (min-width: 1150px) {
  .desktop {
    display: block;
  }
}

.logo-fix {
  width: unset;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

@media (min-width: 1150px) {
  #main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (min-width: 1150px) {
  #main_2 {
    background-color: #f6faff;
    padding-bottom: 2rem;
    width: 50%;
  }
}

@media (min-width: 1150px) {
  #main_1 {
    background-color: white;
    padding-block: 2rem;
    width: 50%;
  }
}

.main_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

@media (min-width: 1150px) {
  .main_info {
    margin-bottom: 0;
  }
}

.desktop-logo {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (min-width: 1200px) {
  .desktop-logo {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .desktop-hero-img {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1150px) {
  .progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    margin-bottom: 1rem;
  }
  .progress-bar div {
    width: 45px;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 12px;
  }
  .progress-bar .active {
    width: 70px;
    background-color: #03045e;
  }
}

@media (min-width: 1200px) {
  .progress-bar {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1150px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info p {
    width: 70%;
  }
}

.form_header {
  margin-bottom: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 700px) {
  .form_header {
    gap: 4px;
    text-align: center;
  }
}

@media (min-width: 1150px) {
  .form_header {
    text-align: left;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .form_header {
    margin-bottom: 5rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 1150px) {
  .form {
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .form {
    gap: 3.5rem;
  }
}

.form input,
.form select {
  padding: 0.7rem;
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid #535454;
}

@media (min-width: 700px) {
  .form input,
  .form select {
    padding: 1rem;
  }
}

.form_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

ul {
  background: #fbfcfd;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 0.8rem 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 700px) {
  ul {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1150px) {
  ul {
    margin-bottom: 2.8rem;
  }
}

ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox span {
  color: #575894;
}

.logo-top {
  padding-top: 1.5rem;
}

@media (min-width: 1150px) {
  .logo-top {
    padding-top: 0;
  }
}

.page-3_confirmError {
  background-color: #f0b1b1;
  color: #d31616;
  width: 100%;
  padding: 1rem;
  font-weight: 600;
  font-size: 0.7rem;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 2rem;
}

@media (min-width: 700px) {
  .page-3_confirmError {
    padding: 2rem;
    font-size: 1rem;
  }
}

@media (min-width: 1150px) {
  .page-3_confirmError {
    font-size: 1.2rem;
  }
}

.school-danger {
  color: #d31616;
  font-size: 0.7rem;
}

@media (min-width: 700px) {
  .school-danger {
    font-size: 1rem;
  }
}

@media (min-width: 1150px) {
  .school-danger {
    font-size: 1.2rem;
  }
}

@media (min-width: 1150px) {
  .site-tip {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}

#Signup_School_Form {
  margin-top: 0;
}

.hero-p3 {
  width: 80%;
}

.page2,
.page3,
.page2-second,
.page3-second,
.page3-header,
.page-3_confirmError,
.school-danger {
  display: none;
}
/*# sourceMappingURL=signup_school.css.map */