* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

li {
  list-style: none;
}

/*Primary color*/
/*Neutral color*/
main {
  background-color: #f6faff;
}

h2 {
  color: #03045e;
  font-size: clamp(1rem, 3.5vw, 1.3rem);
  line-height: 2rem;
  font-weight: 600;
}

@media (min-width: 700px) {
  h2 {
    font-size: clamp(1.4rem, 3.5vw, 2.5rem);
  }
}

h2 {
  color: #03045e;
  font-size: clamp(1.25rem, 3.5vw, 2rem);
  line-height: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h4 {
  color: #03045e;
  font-size: clamp(0.7rem, 3.5vw, 1.45rem);
  line-height: 1rem;
  font-weight: 400;
}

p {
  color: #000814;
  font-size: 0.65rem;
  line-height: 1rem;
  font-weight: 400;
}

@media (min-width: 700px) {
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

li,
button {
  font-size: 1rem;
  cursor: pointer;
}

li {
  color: #03034e;
}

button {
  font-size: 0.65rem;
}

@media (min-width: 1150px) {
  button {
    font-size: 1rem;
  }
}

.Container {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .Container {
    width: 98%;
  }
}

@media (min-width: 1150px) {
  .Container {
    width: 95%;
  }
}

@media (min-width: 700px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}

@media (min-width: 1150px) {
  .desktop {
    display: block;
  }
}

.tablet {
  display: none;
}

@media (min-width: 700px) {
  .tablet {
    display: block;
  }
}

@media (min-width: 1150px) {
  .tablet {
    display: none;
  }
}

.desktop-tablet {
  display: none;
}

@media (min-width: 700px) {
  .desktop-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#mobile-nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 50%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  gap: 4rem;
  z-index: 100000;
}

#mobile-nav .activeMobileNav {
  background-color: #03045e;
  color: white;
}

#mobile-nav #close {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-right: 10%;
  padding-top: 1.5rem;
}

#mobile-nav button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #03034e;
  padding: 11px 16px;
  border-radius: 8px;
  color: #03034e;
}

#mobile-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mobile-nav ul li {
  font-size: 1rem;
  padding-block: 1rem;
  padding-left: 1.5rem;
  width: 80%;
}

.mobileMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 700px) {
  .mobileMain {
    display: none;
  }
}

.mobileMain .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background-color: white;
  padding: 0.5rem;
  -webkit-box-shadow: 0px 1px 3px 1px rgba(3, 4, 94, 0.15), 0px 1px 2px rgba(3, 4, 94, 0.3);
          box-shadow: 0px 1px 3px 1px rgba(3, 4, 94, 0.15), 0px 1px 2px rgba(3, 4, 94, 0.3);
  border-radius: 8px;
}

.search_noti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.search_noti p {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: #03045e;
  color: white;
  font-size: 20px;
}

@media (min-width: 700px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
  height: 100vh;
  min-width: 250px;
  background-color: #03045e;
  color: white;
}

.sidebar .desklogo {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding-left: 40px;
  margin-bottom: 6rem;
  margin-top: 26px;
}

.sidebar .navItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .navItemMB {
  margin-top: 10rem;
}

.sidebar span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 2rem 40px;
  font-size: 20px;
}

.sidebar .activeMenuDesktop {
  background-color: white;
  color: #03045e;
}

.sidebar .danger-btn {
  background: #ff3e1d;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  padding: 15px 20px;
}
/*# sourceMappingURL=school_dashboard.css.map */