* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6FAFF;
    font-family: 'Manrope', sans-serif;
}

.header-content {
    background-color: #03045e;
    border-radius: 8px;
    width: 90%;
        height: 114px;
        left: 22px;
        position: relative;
        top: 0;
        margin-top: 1.5em;
        margin-bottom: 2em;
}

h6 {
    width: 107px;
    height: 27px;
    left: 108px;
    top: 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #fefefe;
    line-height: 27px;
    letter-spacing: 0.0015em;
    position: absolute;
}
.header-img{
    width: 157px;
    height: 108px;
    left: 7px;
    top: 6px;
    position: absolute;
}

.main-content {
    display: flex;
    flex-direction: column-reverse;
}

.contact-info {
    background-color: #03034e;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.desc-2 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    width: 60%;
}

.desc-2 h5 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    font-style: normal;
    width: 225px;
    height: 33px;
    margin-top: 25px;
}

.desc-2 p {
    font-size: 16px;
    font-weight: 400;
    /* margin-bottom: 10px; */
    font-style: normal;
    width: 239px;
    height: 44px;
    left: 68px;
}
.desc-1{
    padding-bottom: 10px;
}

/* .desc-1 p {
    margin-bottom: 5px;
    font-size: 13.2px;
    line-height: 20px;
        letter-spacing: 00.0015em;
        width: 180px;
} */

.contact-details{
    display: flex;
    margin: 10px;
    /* font-size: 10px; */
    margin-bottom: 5px;
        font-size: 13.2px;
        line-height: 20px;
        letter-spacing: 00.0015em;
    width: 55%;
}

.contact-details img {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 15px;
    padding-bottom: 20px;
}

.form-details {
    margin: 10px;
    text-align: center;
}

.desc {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    text-align: center;
    width: 60%;
    /* height: 54px; */
    margin-left: 4em;
    /* position: relative; */
    letter-spacing: 00.0025em;
    line-height: 27px;
}
form{
    margin-bottom: 5em;
}

.contact-form {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    color: #535454;
    font-size: 13.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.004em;
}

input {
    border: 1px solid #535454;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    color: #535454;
    height: 40px;
}

input:focus {
    border: 1px solid #2e2f30;
}

input:active {
    border: 1px solid;
}

.btn {
    text-align: center;
    border: 1px;
    border-radius: 5px;
    padding: 12px;
    font-size: 12px;
    color: #fff;
    background-color: #03045e;
    width: 70%;
    position: relative;
}

.footer-cont {
    background-color: #03034e;
    color: #fff;
    /* margin-top: 2em; */
}

.footer-elem {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    width: 50%;
}

a {
    color: #fff;
    text-decoration: none;
}

.quick-links {
    padding-bottom: 10px;
}

.quick-links li {
    list-style-type: none;
    font-size: 8px;
    text-align: left;
    padding: 2px;
}

.quick-links p {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 10px;
    margin-right: 20px;
}

.footer-contact small {
    font-size: 8px;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: lighter;
}

.logo {
    width: 100px;
    margin-top: 20px;
}

.footer-icons {
    width: 100px;
    margin-top: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 10px;
    padding: 10px;
}

#send {
    position: absolute;
    z-index: 2;
    padding: 10px;
    left: 30%;
}
.nav-logo{
    position: relative;
    left: 70%;
}

.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 2em; */
    margin-top: 10px;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    width: 50%;
    height: 100vh;
    z-index: 5;
    transform: translateX(-100%);
    /* transition: transform .3s ease-in-out; */
}

.nav-bar li:hover{
    background-color: #03034e;
    color: #fff;
    width: 80%;
}

.nav-bar li {
    list-style-type: none;
    color: #03045e;
    padding: .75em 2em;
        display: block;
        cursor: pointer;
}

.menu-icon {
    /* margin-top: 2em; */
    cursor: pointer;
    position: relative;
    right: 90%;
    top: 75%;
    bottom: 25%;
    /* border: 2px solid #03034e; */
}

#signup-btn{
    text-align: center;
    padding: 10px;
    margin-top: 3em;
    margin-left: 4em;
    background-color: #fff;
    color: #03034e;
    font-size: 13.2px;
    font-weight: 500;
    font-style: normal;
    border: 1px solid #03034e;
    border-radius: 8px;
}

.close {
    margin-left: 9em;
    margin-top: 1em;
    width: 1em;
    cursor: pointer;
}

.open-nav {
    transform: translateX(0%);
}

@media screen and (min-width: 768px){
    .header-content {
        background-color: #03045e;
            /* justify-content: space-between; */
            border-radius: 8px;
            /* margin: 20px; */
            width: 100%;
            height: 192px;
            left: 0px;
            /* top: 113px; */
            position: relative;
            top: 0;
    }
h6 {
    width: 169px;
    height: 44px;
    left: 332px;
    top: 74px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #fefefe;
    line-height: 44px;
    letter-spacing: 00.0015em;
    position: absolute;
}

.header-img {
    width: 280px;
    height: 192px;
    left: 0px;
    top: 0px;
    position: absolute;
}
    

    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 3em;
        gap: 2em;
    }

    .contact-info {
        border: 1;
        border-radius: 5px;
        display: block;
    }

    .contact-details {
        padding-bottom: 1.5em;
    }

    .icons {
        margin-top: 3em;
    }

    .logo {
        margin-top: 2em;
        width: 20%;
    }

    .footer-links {
        margin-right: 3em;
        width: 40%;
    }

    .quick-links {
        gap: 2em;
        padding-bottom: 2em;
    }

    .desc-2 p {
        margin-bottom: 2em;
    }

    #send {
        /* left: 60%;
        bottom: 43%; */
        margin-top: 2em;
        left: 45%;
    }

    .btn{
        margin-top: 2em;
        padding: 1.5em;
         }
    .desc {
        margin-top: 1em;
        margin-bottom: 1.5em;
        text-align: left;
        margin-left: 1em;
        width: 70%;
    }

    .footer-cont {
        margin-top: 5em;
    }

    .footer-elem {
        align-items: center;
    }

    .footer-contact {
        margin-left: 3em;
        margin-right: 3em;
    }

    .logo {
        margin-left: 2em;
        margin-right: 2em;
    }

    /* NAV BAR STYLES */
    .menu-icon {
        display: none;
    }
        .nav-logo {
            left: 0%;
        }
        .nav-elements{
            display: flex;
            /* width: 100%; */
        }

    .nav-bar {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
    /* .nav-bar li{
        padding-left: 1em;
        padding-right: 1em;
    } */
    .nav-bar li:hover{
        background: none;
        width: auto;
        color: #03045e;
        font-weight: 600;
    }

    .links {
        display: flex;
        color: #000814;
        font-weight: 400;
            font-size: 16px;
            /* padding: .75em; */
    }
    /* .nav-bar li{
        padding: .5em
    } */

    .nav-links {
        margin-right: 5em;
        /* margin-left: 3em; */
        display: flex;
        justify-content: right;
        width: 50%;
    }

    .contact-btn {
        color: #03045e;
        font-weight: 600;
    }

    #signup-btn {
        background: #03045e;
        color: #fff;
        border-radius: 8px;
        font-size: 13.2px;
        margin-left: 0;
        margin-top: 0;
        border: 0;
        /* width: 40%;
        padding: 1em; */
        /* padding-: .5em; */
    }
    .nav-links li{
        padding: 1em;
    }

    /* .nav-logo {
        width: 10em;
    } */


    .close {
        display: none;
    }

    /* .nav-links {
        display: flex;
        width: 50%;
        margin-left: 3em;
    } */

    .signup-links {
        display: flex;
        justify-content: left;
        width: 30%;
        margin-right: 0;
    }
}

@media screen and (min-width: 1200px) {
    .header-content {
            background-color: #03045e;
            border-radius: 0px;
            width: 100%;
            height: 196px;
            left: 0px;
            position: relative;
            top: 108;
        }

        h6 {
            width: 253px;
            height: 66px;
            left: 40%;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            color: #fefefe;
            line-height: 66px;
            letter-spacing: 00.0015em;
            position: absolute;
        }
    
        .header-img {
            width: 289px;
            height: 196px;
            left: 0px;
            top: 0px;
            position: absolute;
        }

    .main-content {
        width: 70%;
        margin: 0 auto;
    }

    .desc-2 {
        width: 50%;
    }

    .desc {
        width: 100%;
        color: #02033F;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
    }

    .contact-details {
        margin-bottom: 0em;
        padding-bottom: 0em;
    }

    .icons {
        margin-top: 0em;
        padding-bottom: 0em;
    }

    form {
        width: 80%;
    }

    .contact-info {
        height: 70%;
        margin-left: 3em;
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .form-details {
        margin-top: 4em;
        margin-bottom: 3em;
    }

     /* 
    .footer-links {
        margin-right: 7em;
        width: 30%;
    }

    .footer-contact {
        margin-left: 7em;
    }

    .logo {
        margin-left: 5em;
    }

    .footer-contact small {
        font-size: 10px;
    }

    .quick-links li {
        font-size: 10px;
    }

    .quick-links p {
        font-size: 12px;
    }

    .quick-links {
        padding-bottom: 5em;
    }
}