@media only screen and (min-width: 300px) and (max-width: 760px){
    body{
        font-family: 'Manrope';
        background-color: white;
        margin-left: 100px;
        margin-top: 20px;
        margin-right: 50px;
        width: 100%;
    }
}
/*
@media only screen and (min-width: 768px) and (max-width: 1023px){
    body{
        font-family: 'Manrope';
        background-color: white;
    }
}
@media only screen and (min-width: 720px){
    body{
        font-family: 'Manrope';
        background-color: white;
    }
} */

#sec{
    display: flex;
    justify-content: space-around;
    margin-top: 60px
    margin-bottom: 
}
#subsec1, #subsec2{
  width: 100%;
}
.left{
    background-color: #FEFEFE;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 100px;   
    margin-right: 40px
}
.right{
    background-color: rgb(217, 237, 243);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-right: 40px;
    height: 100%;
}
.reg{
    color: #03045E;
}
input{
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px 5px 5px 5px;
}
#submit{
    margin-bottom: 10px;
    width: 205px;
    background-color: #03045E;
    color: white;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
}
a{
    color: #03045E;
    text-decoration: none;
    font-weight: bold;
}
.bot{
    text-align: center;
    font-family: 'Manrope';
    line-height: 20px;
    padding-bottom: 10px;
}
.required:after{
    content: " *";
    color: red;
}
.one{
    text-align: right;
}



