@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e1eff8;
  font-family: 'Manrope', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}
/* Dropdown menu css */

.nav-button-1 {
  border: none;
  font-family: var(--font-family);
  background: var(--background-color);
  padding: 9px 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #000814;
}
.nav-button-2 {
  border: none;
  width: 97px;
  height: 40px;
  background: #03045e;
  border-radius: 8px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 13.2px;
  line-height: 18px;
  letter-spacing: 0.0125em;
  color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #fafbfc;
  box-shadow: 0px 1px 3px 1px rgba(3, 4, 94, 0.15),
    0px 1px 2px rgba(3, 4, 94, 0.3);
  padding: 10px;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: var(--primary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--font-family);
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* end of dropdown css*/

.mobile-nav {
  display: none;
}
.menu {
  display: none;
}
.logo {
  margin-left: 1em;
  width: 30%;
}
.logo img {
  width: 50%;
}
.nav-links {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.nav-links ul {
  gap: 2em;
  display: flex;
}
.nav-links ul a {
  color: #03045e;
}
.desktop-active {
  color: #03045e;
  font-weight: 600;
}
.links ul {
  display: flex;
  justify-content: space-between;
}
.links a {
  text-decoration: none;
}
.nav-links ul li {
  list-style: none;
}
.sign {
  margin-right: 4em;
}
.sign a {
  text-decoration: none;
}
.signup {
  padding: 10px;
  background-color: #03045e;
  color: #fff;
  border: none;
  border-radius: 8px;
}
.text {
  width: 88%;
  /* background-color: #03034e; */
  /* margin: 0 auto; */
  margin-bottom: 3em;
  /* background-color: red; */
}
.text h1 {
  color: #03034e;
  text-align: center;
}

.container {
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
  background-color: #e1eff8;
}
figcaption {
  color: #7d7e7e;
  font-size: 0.8rem;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
.form-controller {
  width: 80%;
  display: flex;
  gap: 1em;
  padding: 0 5em;
  /* background-color: #03045e; */
}
form {
  width: 60%;
  /* background-color: red; */
}
.form-controller input {
  padding: 10px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 3em;
}
.form-controller span button {
  padding: 9px;
  background-color: #03045e;
  border: none;
  color: #ffffff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.form-controller span button i {
  font-size: 1rem;
}

.form-controller p {
  width: 100%;
  font-size: 1.2rem;
  color: #03045e;
  font-weight: 600;
  /* background-color: red; */
}
.container-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: blue; */
  padding: 1em 5em;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}
.box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.box figure {
  width: 100%;
}
.box img {
  width: 100%;
}
.box h2 {
  color: #03034e;
  font-size: 1.2rem;
}
.box p {
  color: #000814;
  letter-spacing: 0.005em;
  font-weight: 400;
  font-size: 0.9rem;
}
.box a {
  margin-top: 1.5em;
  text-decoration: none;
  letter-spacing: 0.005em;
  color: #03034e;
}
.font h2 {
  width: 70%;
}
.font1 h2 {
  width: 70%;
}
.font2 h2 {
  width: 70%;
}
.font p {
  width: 75%;
}
.font1 p {
  width: 80%;
}
.font2 p {
  width: 80%;
}
/* Footer design */
footer {
  width: 100%;
  background: #03034e;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  padding: 0 4em;
}
.footer-content {
  display: flex;
  width: 30%;
  flex-direction: column;
}
.footer-content ul {
  display: flex;
  gap: 2em;
  margin-top: 4em;
  margin-left: 3em;
}
.footer-content ul li {
  list-style: none;
}
.footer-content p {
  margin-left: 3em;
  margin-top: 1em;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.005em;
  /* width: 100%; */
}
.footer-content2 {
  display: flex;
  width: 50%;
  margin-top: 2em;
  justify-content: space-between;
}
.company {
  margin-top: 3em;
}
.company h3 {
  color: #ffffff;
}
.company ul {
  margin-top: 1em;
}
.company ul li {
  list-style: none;
}
.company ul li a {
  letter-spacing: 0.005em;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
}
#logos {
  margin-top: 1em;
  width: 70%;
}

@media screen and (max-width: 992px) {
  /* HIDING MOBILE NAV LINKS */
  .menu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  /* Ends here HIDING MOBILE NAV LINKS */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* justify-content: flex-start; */
    position: relative;
    /* background-color: red; */
  }
  .logo {
    width: 25%;
    margin-left: 0.5em;
  }
  .logo img {
    width: 100%;
  }
  .nav-links {
    width: 100%;
    margin-left: 2em;
  }
  .sign {
    margin-right: 2em;
  }
  .container {
    padding: 0 1em;
    width: 100%;
    margin-bottom: 4em;
  }
  .form-controller {
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
    width: 100%;
    gap: 1em;
  }
  form {
    width: 100%;
  }
  .form-controller input {
    width: 90%;
    padding: 12px;
    margin-bottom: 0;
  }
  .form-controller p {
    font-size: 1.3rem;
  }
  .container-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em 0.5em;
    justify-content: space-between;
    gap: 5em;
  }
  .box {
    width: 100%;
    /* background-color: #03034e; */
    display: flex;
    flex-direction: column;
  }
  .nav-links ul {
    gap: 1em;
    display: flex;
  }
  .font h2 {
    width: 80%;
    font-size: 1.1rem;
  }
  .font p {
    width: 90%;
    margin-top: 0.5em;
  }
  .font1 h2 {
    width: 90%;
    font-size: 1.1rem;
  }
  .font1 p {
    width: 95%;
    margin-top: 0.5em;
  }
  .font2 h2 {
    width: 80%;
    font-size: 1.1rem;
  }
  .font2 p {
    width: 95%;
    margin-top: 0.5em;
  }
  footer {
    width: 100%;
    background: #03034e;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
  }
  .footer-content p {
    margin-left: 1em;
    margin-top: 1.5em;
  }
  .footer-content ul {
    margin-left: 1em;
    margin-top: 3.5em;
  }
  #logos {
    margin-top: 1em;
  }
}

@media screen and (max-width: 768px) {
  /* HIDING MOBILE NAV LINKS */
  .menu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  /* Ends here HIDING MOBILE NAV LINKS */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* justify-content: flex-start; */
    position: relative;
    /* background-color: red; */
  }
  .logo {
    width: 25%;
    margin-left: 0.5em;
  }
  .logo img {
    width: 100%;
  }
  .nav-links {
    width: 100%;
    margin-left: 2em;
  }
  .sign {
    margin-right: 2em;
  }
  .nav-links ul {
    gap: 1em;
    display: flex;
  }
  .container {
    padding: 0 1em;
    width: 100%;
    margin-bottom: 4em;
  }
  .form-controller {
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
    width: 100%;
    gap: 1em;
  }
  form {
    width: 100%;
  }
  .form-controller input {
    width: 90%;
    padding: 12px;
    margin-bottom: 0;
  }
  .form-controller p {
    font-size: 1.3rem;
  }
  .container-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em 0.5em;
    justify-content: space-between;
    gap: 5em;
  }
  .box {
    width: 100%;
    /* background-color: #03034e; */
    display: flex;
    flex-direction: column;
  }
  .font h2 {
    width: 80%;
    font-size: 1.1rem;
  }
  .font p {
    width: 90%;
    margin-top: 0.5em;
  }
  .font1 h2 {
    width: 90%;
    font-size: 1.1rem;
  }
  .font1 p {
    width: 95%;
    margin-top: 0.5em;
  }
  .font2 h2 {
    width: 80%;
    font-size: 1.1rem;
  }
  .font2 p {
    width: 95%;
    margin-top: 0.5em;
  }
  footer {
    width: 100%;
    background: #03034e;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
  }
  .footer-content p {
    margin-left: 1em;
    margin-top: 1.5em;
  }
  .footer-content ul {
    margin-left: 1em;
    margin-top: 3.5em;
  }
  #logos {
    margin-top: 1em;
  }
}

@media screen and (max-width: 670px) {
  header {
    position: relative;
  }
  .nav-links {
    display: none;
  }
  /* mobile side bar */
  /* mobile side bar */
  .mobile-nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 1em;
    background-color: #ffffff;
    gap: 2em;
    padding: 10px;
    height: 564vh;
    display: none;
  }
  .menu {
    display: flex;
    position: absolute;
    top: 2em;
    border: none;
    background-color: #e1eff8;
  }
  .close-btn {
    display: flex;
    width: 10%;
    position: absolute;
    right: 1em;
    background-color: #ffffff;
    border: none;
  }
  .mobile-links ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
  }

  .mobile-links ul li {
    list-style: none;
  }
  .mobile-links ul li a {
    text-decoration: none;
  }
  .mobile-sign {
    display: flex;
  }
  .mobile-sign ul {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }

  .mobile-sign ul a {
    text-decoration: none;
  }
  .active {
    background-color: #03045e;
    color: #fff;
    width: 70%;
    padding: 8px;
    text-align: left;
  }
  .mobile-signup {
    background-color: #ffffff;
    border: 1px solid #03045e;
    padding: 8px;
    border-radius: 8px;
    color: #03034e;
    margin: 0 auto;
    position: absolute;
    left: 25%;
  }
  /* End of mobile side bar */
  .logo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .logo img {
    width: 30%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .form-controller {
    width: 100%;
    flex-direction: column;
    gap: 1em;
    padding: 0 2em;
  }
  form {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  .form-controller input {
    margin-bottom: 0;
    margin: 0 auto;
    width: 100%;
  }
  .form-controller p {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  .container-content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 1em 1em;
  }
  .box {
    width: 100%;
  }
  .font h2 {
    width: 90%;
  }
  .font p {
    width: 100%;
  }
  .font1 h2 {
    width: 90%;
  }
  .font1 p {
    width: 100%;
  }
  .font2 h2 {
    width: 80%;
  }
  .font2 p {
    width: 90%;
  }
  footer {
    width: 100%;
    padding: 1em;
    justify-content: flex-start;
  }
  .footer-content {
    width: 30%;
  }
  .footer-content img {
    width: 50%;
  }
  .footer-content ul {
    display: flex;
    gap: 0;
    margin-top: 2em;
    margin-left: 0;
  }
  .footer-content p {
    margin-left: 0.2em;
  }
  .footer-content ul {
    display: flex;
    gap: 0em;
    margin-top: 5em;
    margin-left: 0;
  }
  .footer-content p {
    font-size: 0.6rem;
  }
  .footer-content2 {
    width: 70%;
    display: flex;
    margin-top: 0.2em;
    justify-content: flex-end;
    gap: 2em;
  }
  .company h3 {
    font-size: 0.8rem;
  }
  .company ul li a {
    letter-spacing: 0.005em;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 0.7rem;
  }
  #logos {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  header {
    position: relative;
  }
  .nav-links {
    display: none;
  }
  /* mobile side bar */
  /* mobile side bar */
  .mobile-nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 1em;
    background-color: #ffffff;
    gap: 2em;
    padding: 10px;
    height: 564vh;
    display: none;
  }
  .menu {
    display: flex;
    position: absolute;
    top: 2em;
    border: none;
    background-color: #e1eff8;
  }
  .close-btn {
    display: flex;
    width: 10%;
    position: absolute;
    right: 1em;
    background-color: #ffffff;
    border: none;
  }
  .mobile-links ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
  }

  .mobile-links ul li {
    list-style: none;
  }
  .mobile-links ul li a {
    text-decoration: none;
  }
  .mobile-sign {
    display: flex;
  }
  .mobile-sign ul {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }
  .mobile-sign ul a {
    text-decoration: none;
  }

  .active {
    background-color: #03045e;
    color: #fff;
    width: 70%;
    padding: 8px;
    text-align: left;
  }
  .mobile-signup {
    background-color: #ffffff;
    border: 1px solid #03045e;
    padding: 8px;
    border-radius: 8px;
    color: #03034e;
    margin: 0 auto;
    position: absolute;
    left: 25%;
  }
  /* End of mobile side bar */
  .logo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .logo img {
    width: 30%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .form-controller {
    width: 100%;
    flex-direction: column;
    gap: 1em;
    padding: 0 2em;
  }
  form {
    max-width: 375px;
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  .form-controller input {
    margin-bottom: 0;
    margin: 0 auto;
    width: 100%;
  }
  .form-controller p {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
  }
  .container-content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 1em 1em;
  }
  .box {
    width: 100%;
  }
  .font h2 {
    width: 90%;
  }
  .font p {
    width: 100%;
  }
  .font1 h2 {
    width: 90%;
  }
  .font1 p {
    width: 100%;
  }
  .font2 h2 {
    width: 80%;
  }
  .font2 p {
    width: 90%;
  }
  footer {
    width: 100%;
    padding: 1em;
    justify-content: flex-start;
  }
  .footer-content {
    width: 30%;
  }
  .footer-content img {
    width: 50%;
  }
  .footer-content ul {
    display: flex;
    gap: 0;
    margin-top: 2em;
    margin-left: 0;
  }
  .footer-content p {
    margin-left: 0.2em;
  }
  .footer-content ul {
    display: flex;
    gap: 0em;
    margin-top: 5em;
    margin-left: 0;
  }
  .footer-content p {
    font-size: 0.6rem;
  }
  .footer-content2 {
    width: 70%;
    display: flex;
    margin-top: 0.2em;
    justify-content: flex-end;
    gap: 0.5em;
  }
  .company h3 {
    font-size: 0.8rem;
  }
  .company ul li a {
    letter-spacing: 0.005em;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 0.55rem;
  }
  #logos {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  header {
    position: relative;
  }
  .nav-links {
    display: none;
  }
  /* mobile side bar */
  /* mobile side bar */
  .mobile-nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 1em;
    background-color: #ffffff;
    gap: 2em;
    padding: 10px;
    height: 564vh;
    display: none;
  }
  .menu {
    display: flex;
    position: absolute;
    top: 2em;
    border: none;
    background-color: #e1eff8;
  }
  .close-btn {
    display: flex;
    width: 10%;
    position: absolute;
    right: 1em;
    background-color: #ffffff;
    border: none;
  }
  .mobile-links ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
  }

  .mobile-links ul li {
    list-style: none;
  }
  .mobile-links ul li a {
    text-decoration: none;
  }
  .mobile-sign {
    display: flex;
  }
  .mobile-sign ul {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }
  .mobile-sign ul a {
    text-decoration: none;
  }
  .active {
    background-color: #03045e;
    color: #fff;
    width: 70%;
    padding: 8px;
    text-align: left;
  }
  .mobile-signup {
    background-color: #ffffff;
    border: 1px solid #03045e;
    padding: 8px;
    border-radius: 8px;
    color: #03034e;
    margin: 0 auto;
    position: absolute;
    left: 25%;
  }
  /* End of mobile side bar */
  .logo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .logo img {
    width: 30%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .form-controller {
    width: 100%;
    flex-direction: column;
    gap: 1em;
    padding: 0 2em;
  }
  form {
    max-width: 375px;
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  .form-controller input {
    margin-bottom: 0;
    margin: 0 auto;
    width: 100%;
  }
  .form-controller p {
    max-width: 375px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
  }
  .container-content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 1em 1em;
  }
  .box {
    width: 100%;
  }
  .font h2 {
    width: 90%;
  }
  .font p {
    width: 100%;
  }
  .font1 h2 {
    width: 90%;
  }
  .font1 p {
    width: 100%;
  }
  .font2 h2 {
    width: 80%;
  }
  .font2 p {
    width: 90%;
  }
  footer {
    width: 100%;
    padding: 1em;
    justify-content: flex-start;
  }
  .footer-content {
    width: 30%;
  }
  .footer-content img {
    width: 50%;
  }
  .footer-content ul {
    display: flex;
    gap: 0;
    margin-top: 2em;
    margin-left: 0;
  }
  .footer-content p {
    margin-left: 0.2em;
  }
  .footer-content ul {
    display: flex;
    gap: 0em;
    margin-top: 6em;
    margin-left: 0;
  }
  .footer-content p {
    font-size: 0.6rem;
  }
  .footer-content2 {
    width: 70%;
    display: flex;
    margin-top: 0.2em;
    justify-content: flex-end;
    gap: 0.5em;
  }
  .company h3 {
    font-size: 0.8rem;
  }
  .company ul li a {
    letter-spacing: 0.005em;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 0.5rem;
  }
  #logos {
    width: 100%;
  }
}
