@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e1eff8;
  font-family: 'Manrope', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}
.mobile-nav {
  display: none;
}
.menu {
  display: none;
}
.logo {
  margin-left: 1em;
  width: 30%;
}
.logo img {
  width: 50%;
}
.nav-links {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.nav-links ul {
  gap: 2em;
  display: flex;
}
.desktop-active {
  color: #03045e;
  font-weight: bold;
}
.links ul {
  display: flex;
  justify-content: space-between;
}
.links a {
  text-decoration: none;
}
.nav-links ul li {
  list-style: none;
}
.sign {
  margin-right: 4em;
}
.sign a {
  text-decoration: none;
}
.signup {
  padding: 10px;
  background-color: #03045e;
  color: #fff;
  border: none;
  border-radius: 8px;
}
/* Body  */
.container {
  padding: em;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 8em;
}
.image {
  max-width: 400px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 2em;
}
.image img {
  width: 100%;
}
.text {
  margin: 0 auto;
  margin-top: 2em;
  width: 100%;
  align-items: center;
}
.text h1 {
  text-align: center;
  font-size: 1.7rem;
  color: #03045e;
  font-weight: 400;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.small-img {
  margin-top: 1em;
  display: flex;
  align-items: center;
}
.comment {
  margin-top: 0.5em;
  color: #737373;
}
.comment span {
  color: #000000;
}
.article-1 p {
  line-height: 21px;
  letter-spacing: 0.05em;
  font-size: 0.9rem;
}
.article-2 p {
  line-height: 21px;
  letter-spacing: 0.05em;
  font-size: 0.9rem;
}
.article-3 p {
  line-height: 21px;
  letter-spacing: 0.06em;
  font-size: 0.9rem;
}
.article-4 p {
  line-height: 21px;
  letter-spacing: 0.04em;
  font-size: 0.9rem;
}
.article-5 p {
  line-height: 21px;
  letter-spacing: 0.03em;
  font-size: 0.9rem;
}
/* footer design */

footer {
  width: 100%;
  background: #03034e;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  padding: 0 4em;
}
.footer-content {
  display: flex;
  width: 30%;
  flex-direction: column;
}
.footer-content ul {
  display: flex;
  gap: 2em;
  margin-top: 4em;
  margin-left: 3em;
}
.footer-content ul li {
  list-style: none;
}
.footer-content p {
  margin-left: 3em;
  margin-top: 1em;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.005em;
  /* width: 100%; */
}
.footer-content2 {
  display: flex;
  width: 50%;
  margin-top: 2em;
  justify-content: space-between;
}
.company {
  margin-top: 3em;
}
.company h3 {
  color: #ffffff;
}
.company ul {
  margin-top: 1em;
}
.company ul li {
  list-style: none;
}
.company ul li a {
  letter-spacing: 0.005em;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
}
#logos {
  margin-top: 1em;
  width: 70%;
}
@media screen and (max-width: 992px) {
  /* HIDING MOBILE NAV LINKS */
  .menu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  /* Ends here HIDING MOBILE NAV LINKS */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* justify-content: flex-start; */
    position: relative;
    /* background-color: red; */
  }
  .logo {
    width: 25%;
    margin-left: 0.5em;
  }
  .logo img {
    width: 100%;
  }
  .nav-links {
    width: 100%;
    margin-left: 2em;
  }
  .sign {
    margin-right: 2em;
  }
  .nav-links ul {
    gap: 1em;
    display: flex;
  }
  .container {
    padding: em;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 8em;
  }
  .image {
    max-width: 470px;
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .content {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }
  .text h1 {
    text-align: center;
    font-size: 1.5rem;
    color: #03045e;
    font-weight: 400;
  }
  footer {
    width: 100%;
    background: #03034e;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
  }
  .footer-content p {
    margin-left: 1em;
    margin-top: 1.5em;
  }
  .footer-content ul {
    margin-left: 1em;
    margin-top: 3.5em;
  }
  #logos {
    margin-top: 1em;
  }
}
/* header for nav 768 */
@media screen and (max-width: 768px) {
  /* HIDING MOBILE NAV LINKS */
  .menu {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  /* Ends here HIDING MOBILE NAV LINKS */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* justify-content: flex-start; */
    position: relative;
    /* background-color: red; */
  }
  .logo {
    width: 25%;
    margin-left: 0.5em;
  }
  .logo img {
    width: 100%;
  }
  .nav-links {
    width: 100%;
    margin-left: 2em;
  }
  .sign {
    margin-right: 2em;
  }
  .nav-links ul {
    gap: 1em;
    display: flex;
  }
  .container {
    padding: em;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 8em;
  }
  .content {
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
  }
  .text h1 {
    font-size: 1.3rem;
  }
  /* footer */
  footer {
    width: 100%;
    background: #03034e;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
  }
  .footer-content p {
    margin-left: 1em;
    margin-top: 1.5em;
  }
  .footer-content ul {
    margin-left: 1em;
    margin-top: 3.5em;
  }
  #logos {
    margin-top: 1em;
  }
}

@media screen and (max-width: 690px) {
  header {
    position: relative;
  }
  .nav-links {
    display: none;
  }
  /* mobile side bar */
  /* mobile side bar */
  .mobile-nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 1em;
    background-color: #ffffff;
    gap: 2em;
    padding: 10px;
    height: 564vh;
    display: none;
  }
  .menu {
    display: flex;
    position: absolute;
    top: 2em;
    border: none;
    background-color: #e1eff8;
  }
  .close-btn {
    display: flex;
    width: 10%;
    position: absolute;
    right: 1em;
    background-color: #ffffff;
    border: none;
  }
  .mobile-links ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
  }

  .mobile-links ul li {
    list-style: none;
  }
  .mobile-links ul li a {
    text-decoration: none;
  }
  .mobile-sign {
    display: flex;
  }
  .mobile-sign ul {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }

  .mobile-sign ul a {
    text-decoration: none;
  }
  .active {
    background-color: #03045e;
    color: #fff;
    width: 70%;
    padding: 8px;
    text-align: left;
  }
  .mobile-signup {
    background-color: #ffffff;
    border: 1px solid #03045e;
    padding: 8px;
    border-radius: 8px;
    color: #03034e;
    margin: 0 auto;
    position: absolute;
    left: 25%;
  }
  /* End of mobile side bar */
  .logo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .logo img {
    width: 30%;
  }

  .container {
    padding: em;
    display: flex;
    flex-direction: column;
    width: 100%;

    justify-content: center;
    margin: 0 auto;
    margin-bottom: 8em;
  }
  .text h1 {
    font-size: 0.9rem;
  }
  .image {
    max-width: 400px;
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .content {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }

  .article-1 p {
    line-height: 21px;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
  }
  .article-2 p {
    line-height: 21px;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
  }
  .article-3 p {
    line-height: 21px;
    letter-spacing: 0.06em;
    font-size: 0.8rem;
  }
  .article-4 p {
    line-height: 21px;
    letter-spacing: 0.04em;
    font-size: 0.8rem;
  }
  .article-5 p {
    line-height: 21px;
    letter-spacing: 0.03em;
    font-size: 0.8rem;
  }

  footer {
    width: 100%;
    padding: 1em;
    justify-content: flex-start;
  }
  .footer-content {
    width: 30%;
  }
  .footer-content img {
    width: 50%;
  }
  .footer-content ul {
    display: flex;
    gap: 0;
    margin-top: 2em;
    margin-left: 0;
  }
  .footer-content p {
    margin-left: 0.2em;
  }
  .footer-content ul {
    display: flex;
    gap: 0em;
    margin-top: 5em;
    margin-left: 0;
  }
  .footer-content p {
    font-size: 0.6rem;
  }
  .footer-content2 {
    width: 70%;
    display: flex;
    margin-top: 0.2em;
    justify-content: flex-end;
    gap: 2em;
  }
  .company h3 {
    font-size: 0.8rem;
  }
  .company ul li a {
    letter-spacing: 0.005em;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 0.7rem;
  }
  #logos {
    width: 100%;
  }
}
/*414 dessign  */
@media screen and (max-width: 414px) {
  header {
    position: relative;
  }
  .nav-links {
    display: none;
  }
  /* mobile side bar */
  /* mobile side bar */
  .mobile-nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 1em;
    background-color: #ffffff;
    gap: 2em;
    padding: 10px;
    height: 564vh;
    display: none;
  }
  .menu {
    display: flex;
    position: absolute;
    top: 2em;
    border: none;
    background-color: #e1eff8;
  }
  .close-btn {
    display: flex;
    width: 10%;
    position: absolute;
    right: 1em;
    background-color: #ffffff;
    border: none;
  }
  .mobile-links ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
  }

  .mobile-links ul li {
    list-style: none;
  }
  .mobile-links ul li a {
    text-decoration: none;
  }
  .mobile-sign {
    display: flex;
  }
  .mobile-sign ul {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }
  .mobile-sign ul a {
    text-decoration: none;
  }

  .active {
    background-color: #03045e;
    color: #fff;
    width: 70%;
    padding: 8px;
    text-align: left;
  }
  .mobile-signup {
    background-color: #ffffff;
    border: 1px solid #03045e;
    padding: 8px;
    border-radius: 8px;
    color: #03034e;
    margin: 0 auto;
    position: absolute;
    left: 25%;
  }
  /* End of mobile side bar */
  .logo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .logo img {
    width: 30%;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 414px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 8em;
  }
  .text h1 {
    font-size: 0.9rem;
  }
  .image {
    max-width: 300px;
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .content {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }

  .article-1 p {
    line-height: 21px;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
  }
  .article-2 p {
    line-height: 21px;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
  }
  .article-3 p {
    line-height: 21px;
    letter-spacing: 0.06em;
    font-size: 0.8rem;
  }
  .article-4 p {
    line-height: 21px;
    letter-spacing: 0.04em;
    font-size: 0.8rem;
  }
  .article-5 p {
    line-height: 21px;
    letter-spacing: 0.03em;
    font-size: 0.8rem;
  }

  /* footer */
  footer {
    width: 100%;
    padding: 1em;
    justify-content: flex-start;
    height: 65vh;
  }
  .footer-content {
    width: 30%;
  }
  .footer-content img {
    width: 50%;
  }
  .footer-content ul {
    display: flex;
    gap: 0;
    margin-top: 2em;
    margin-left: 0;
  }
  .footer-content p {
    margin-left: 0.2em;
  }
  .footer-content ul {
    display: flex;
    gap: 0em;
    margin-top: 5em;
    margin-left: 0;
  }
  .footer-content p {
    font-size: 0.6rem;
  }
  .footer-content2 {
    width: 70%;
    display: flex;
    margin-top: 0.2em;
    justify-content: flex-end;
    gap: 0.5em;
  }
  .company h3 {
    font-size: 0.8rem;
  }
  .company ul li a {
    letter-spacing: 0.005em;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 0.55rem;
  }
  #logos {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  header {
    position: relative;
  }
  .nav-links {
    display: none;
  }
  /* mobile side bar */
  /* mobile side bar */
  .mobile-nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 1em;
    background-color: #ffffff;
    gap: 2em;
    padding: 10px;
    height: 564vh;
    display: none;
  }
  .menu {
    display: flex;
    position: absolute;
    top: 2em;
    border: none;
    background-color: #e1eff8;
  }
  .close-btn {
    display: flex;
    width: 10%;
    position: absolute;
    right: 1em;
    background-color: #ffffff;
    border: none;
  }
  .mobile-links ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
  }

  .mobile-links ul li {
    list-style: none;
  }
  .mobile-links ul li a {
    text-decoration: none;
  }
  .mobile-sign {
    display: flex;
  }
  .mobile-sign ul {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }
  .mobile-sign ul a {
    text-decoration: none;
  }
  .active {
    background-color: #03045e;
    color: #fff;
    width: 70%;
    padding: 8px;
    text-align: left;
  }
  .mobile-signup {
    background-color: #ffffff;
    border: 1px solid #03045e;
    padding: 8px;
    border-radius: 8px;
    color: #03034e;
    margin: 0 auto;
    position: absolute;
    left: 25%;
  }
  /* End of mobile side bar */
  .logo {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .logo img {
    width: 30%;
  }
  .container {
    padding: em;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 8em;
  }
  .text h1 {
    font-size: 0.9rem;
  }
  .image {
    max-width: 240px;
    width: 100%;
  }
  .image img {
    width: 100%;
  }
  .content {
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
  }

  .article-1 p {
    line-height: 21px;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
  }
  .article-2 p {
    line-height: 21px;
    letter-spacing: 0.05em;
    font-size: 0.8rem;
  }
  .article-3 p {
    line-height: 21px;
    letter-spacing: 0.06em;
    font-size: 0.8rem;
  }
  .article-4 p {
    line-height: 21px;
    letter-spacing: 0.04em;
    font-size: 0.8rem;
  }
  .article-5 p {
    line-height: 21px;
    letter-spacing: 0.03em;
    font-size: 0.8rem;
  }

  /* Footer */
  footer {
    width: 100%;
    padding: 1em;
    justify-content: flex-start;
  }
  .footer-content {
    width: 30%;
  }
  .footer-content img {
    width: 50%;
  }
  .footer-content ul {
    display: flex;
    gap: 0;
    margin-top: 2em;
    margin-left: 0;
  }
  .footer-content p {
    margin-left: 0.2em;
  }
  .footer-content ul {
    display: flex;
    gap: 0em;
    margin-top: 6em;
    margin-left: 0;
  }
  .footer-content p {
    font-size: 0.6rem;
  }
  .footer-content2 {
    width: 70%;
    display: flex;
    margin-top: 0.2em;
    justify-content: flex-end;
    gap: 0.5em;
  }
  .company h3 {
    font-size: 0.8rem;
  }
  .company ul li a {
    letter-spacing: 0.005em;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 0.5rem;
  }
  #logos {
    width: 100%;
  }
}
