// primary colors
$primary-col-dash: #03045E;
$secondary-col-dash: #323232;
$box-shadow: #DFE2ED;
$primary-light-blue: #3DC5E2;

// neutral colors
$background-col-dash: #F6FAFF;
$background-col-white: white;
$danger-dash: #D31616;
$grayishbalck-dash: #535454;


$baby-shark: 400px;
$brother-shark: 600px;
$mama-shark: 800px;
$uncle-shark: 1200px;
$papa-shark: 1400px;