@import "./reset";
@import "./variable";

body {
    background-color: #F6FAFF;
    padding: 2em 4em;
}

nav {
    padding: 2em 0;    
}

.nav_links {
    display: flex;
    justify-content: space-between;
}
.nav_links_1{
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8B9098;
}

.nav_links_2 {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.3em 0.3em;
    box-shadow: 0em 0.2em #DFE2ED;
}

.nav_items:not(:first-child):not(:last-child) {
    margin: 0 0 0 2em;
}
.nav_items.article {
    margin-left: 2em;
}

.nav_items.dash {
    background-color: white;
    padding: 0.4em;
    border-radius: 5px;
    box-shadow: 0em 0.2em #DFE2ED;
}

.nav_items_2 {
    margin: 0 0.5em;
}

.main_one{
    color: #02034E;
    margin: 1em 0;
}
.main_welcome{
    margin: 0 0 0.6em 0;
    font-size: 1.8em;
}
.main_child_info{
    margin: 0em 0;
}
.main_student_name{
    margin: 1.5em 0;
    color: #75C26A;
}
.main_student_detail {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 1em 2em;
    background-color: #E8F2FF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.main_student_detail_info {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 1em 2em;
    background-color: #F6FAFF;
    border-bottom: 2px solid #BFDDEC;
}
.main_student_detail_1{
    width: 5em;
}
.main_student_detail_2{
    width: 17em;
    margin-left: -10em;
}
.main_student_detail_3{
    width: 10em;
    margin-left: -10em;
}
.main_student_detail_4{
    width: 1em;
}

.main_brkdwn_stdnt_debt{
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.main_brkdwn_stdnt_debt_session{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 1em;
    background-color: aqua;
}
.main_brkdwn_stdnt_debt_detail{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 1em;
    background-color: white;
    border-bottom: 2px solid lightblue;
}