@import "./reset", "./variable";

body {
    background-color: #F6FAFF;
}
div.body_sidebar{
    display: flex;
    justify-content: space-between;
}


.navv {
    padding: 1em 0 2em 0;
    background-color: $primary-col-dash;
    height: auto;
    width: 20%;
}
.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav_links_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_links_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav_links_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}


.nav_items {
    padding: 1em 3em;
    display: flex;
    // justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $background-col-white;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}
.space{
    padding-right: 1.3em;
}
.space2{
    padding-right: 1.3em;
}
@media screen and (max-width: 1243px){
    .space2{
        padding-right: 3px;
    }
}
.log_out{
    background-color: $danger-dash;
    // padding: 0.8em 0.8em;
    // width: 80%;
    border-radius: 5px;
}
.nav_items:visited{
    color: $primary-col-dash;
    // background-color: $background-col-dash;
}
.logo{
    width: 15em;
    height: 4em;
    margin-bottom: 3em;
    margin-top: 2em;
}
.logo2{
    width: 4em;
    height: 4em;
    margin-bottom: 3em;
    margin-top: 2em;
    display: none;
}
.svg-white{
    color: white;
}

.nav_items_2 {
    margin: auto;
    align-self: center;
    align-items: center;
}
.nav_items_2--img {
    width: 30px;
    height: 30px;
}



main{
    padding: 4em 2em 2em 2em;
    width: 90%;
}
.main_top_three{
    display: none;
    justify-content: space-between;
}
@media screen and (max-width: 764px){
    .main_top_three{
        display: flex;
    }
}
section.main_one{
    display: flex;
    justify-content: space-between;
}
div.main_one_info{
    width: 70%;
}
.main_one_info-text{
    font-size: 1.6em;
    color: $primary-col-dash;
    font-weight: 600;
    margin-bottom: 1em;
}
.main_one_info-text2{
    font-size: 1em;
    color: $primary-col-dash;
}
@media screen and (max-width: 1124px){
    .main_one_info-text{
        font-size: 1.5em;
    }
    .main_one_info-text2{
        font-size: 0.9em;
    }
}
div.main_one_noti{
    width: 15%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8em;
    // align-items: center;
}
.fa-bell{
    font-size: 1.5em;
}
.nav_items_2--img{
    border-radius: 50%;
}
// div.main_top_two{
//     width: 10%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }


section.main_two{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.title{
    font-size: 0.8em;
    font-weight: 400;
    font-family:"Manrope",sans-serif;
}
.fullName{
    display: block;
}
.inputt{
    border-radius: 5px;
    padding: 0.4em;
    padding-left: 1em;
    width: 27em;
    border: 1px solid $secondary-col-dash;
}
.inputt2{
    width: 10em;
    padding: 0.4em;
    border-radius: 5px;
}
.inputt3{
    width: 15em;
    padding: 0.4em;
    border-radius: 5px;
}
@media screen and (max-width: 696px){
    .inputt{
        width: 24em;
    }
    .inputt2{
        width: 8.5em;
    }
    .inputt3{
        width: 13.5em;
    }
}
.message{
    display: block;
}
.submit{
    display: block;
    background-color: $primary-col-dash;
    color: $primary-col-white;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 1em;
    padding: 0.4em;
}
div.main_two_sch{
    display: flex;
    // justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
}
div.main_two_sch1{
    display: flex;
    flex-direction: column;
}
div.main_two_sch2{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
div.upload{    
    margin-bottom: 4em;
}
::-webkit-file-upload-button {
    background-color: $primary-col-dash ;
    padding: 0.4em;
    color: $primary-col-white;
    margin-bottom: 3em;
    border-radius: 5px;
    border: 1px solid transparent;
    // background: black;
    // color: red;
    // padding: 1em;
}
textarea.textarea{
    margin-bottom: 2em;
}


//////////////////////////////////////////////////

// 1143px first breaking point
@media screen and (max-width: 1143px){
    section.main_two{
        margin-top: 8em;
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    div.main_two_sch{
        display: flex;
        // justify-content: space-between;
        margin-top: 4em;
        margin-bottom: 4em;
    }
    .submit{
        margin-bottom: 2em;
    }
}

// 1135px second breaking point
@media screen and (max-width: 1135px){
    .nav_items {
        // padding: 1em 3em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $background-col-white;
        width: auto;
        // text-align: center;
    }
    .space {
        padding-right: 0;
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    .space2{
        margin-bottom: 0.5em;
        font-size: 2em;
    }
    .logo{
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 952px){
    .nav_items h2{
        font-size: 0.8em;
    }
    //logo disappear here
    .logo{
        display: none;
    }
    .logo2{
        display: block;
        margin-bottom: 2em;
    }
}

//754px
@media screen and (max-width: 754px){
    .nav_items{
        padding: 0.7em 3em;
    }
    .nav_items h2{
        font-size: 0.8em;
    }
    .space{
        margin-bottom: 0.4em;
    }
    .log_out{
        background-color: transparent;
        border-radius: 5px;
    }
    //discription disappear here
}