{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Debt Tracking Website (Deudoras) - About Us</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'debtors/Frontend/style/about_us/about_us.css'%}" />
    <script src="{% static 'debtors/Frontend/scripts/about_us.js'%}" defer></script>
  </head>
  <body>
    <main>
      <header>
        <div class="Container">
          <nav>
            <div class="logoflex">
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/project debtor logo svg nav mobile.png'%}"
                alt=""
                class="mobile"
              />
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/project debtor logo svg nav tab.png'%}"
                alt=""
                class="tablet"
              />
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/project debtor logo svg nav desk.png'%}"
                alt=""
                class="desktop"
              />

              <ul class="desktop desktop-nav">
                <li>Home</li>
                <li id="active">About</li>
                <li>Article</li>
                <li>Contact Us</li>
                <li>Help</li>
              </ul>
            </div>

            <div id="mobile-nav">
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/hamClose.png'%}"
                id="close"
                alt="close button"
              />
              <ul>
                <li>Home</li>
                <li class="activeMobileNav">About</li>
                <li>Article</li>
                <li>Contact Us</li>
                <li>Help</li>
              </ul>
              <button>SIGN UP</button>
            </div>

            <div class="mobile-Btn">
              <button class="transbtn desk-tab">Log In</button>
              <button class="fillbtn desk-tab">Sign Up</button>
              <button class="mobile mobileBtnOpen transbtn">
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/HamOPen.png'%}"
                  alt="OpenNav"
                />
              </button>
            </div>
          </nav>
          <section class="about">
            <h2>About Us</h2>
            <p>
              In order to prevent your school from suffering financial losses as
              a result of debts, we help to facilitate and improve the process
              of recovering debt from defaulting students. In addition to giving
              you the chance to learn useful details about other community
              schools, our platform assists you in successfully recovering
              payments from defaulting students. Debtors are made accountable
              with the aid of Deudoras, which relieves you of your concerns.
            </p>
          </section>
        </div>
        <img
          src="{% static 'debtors/Frontend/assets/about us assests/mobilebackimg.png'%}"
          alt=""
          class="mobile mobile-img"
        />
      </header>
      <section class="Container sections">
        <div class="section1">
          <div class="heading">
            <div class="slant-line"></div>
            <div>
              <h3>Our Vision</h3>
              <h4>Deudoras</h4>
            </div>
          </div>
          <div class="p-whiteBg">
            <div>
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/quote1.png'%}"
                alt=""
                class="tabletqoute"
              />

              <img
                src="{% static 'debtors/Frontend/assets/about us assests/qoute1 mobile.png'%}"
                alt=""
                class="mobile"
              />
            </div>

            <p>
              Our goal is to ensure that parents are held liable for the payment
              of their children's tuition and to significantly minimize the rate
              at which local schools experience financial losses as a result of
              pupils defaulting on payments.
            </p>
            <span
              ><img
                src="{% static 'debtors/Frontend/assets/about us assests/qoute2.png'%}"
                alt=""
                class="tabletqoute" />
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/qoute2 mobile.png'%}"
                alt=""
                class="mobile"
            /></span>
          </div>
        </div>
        <div class="section2">
          <img
            src="{% static 'debtors/Frontend/assets/about us assests/boy and girl sitting in front of laptop tablet.png'%}"
            alt=""
            class="tablet tab-img"
          />
          <img
            src="{% static 'debtors/Frontend/assets/about us assests/boy and girl sitting in front of laptop desktop 1.png'%}"
            alt=""
            class="desktop"
          />
          <img
            src="{% static 'debtors/Frontend/assets/about us assests/boy and girl sitting in front of laptop mobile.png'%} "
            alt=""
            class="mobile"
          />
        </div>
      </section>
      <section class="Container sections">
        <div class="section1">
          <div class="heading">
            <div class="slant-line"></div>
            <div>
              <h3>Our Mission</h3>
              <h4>Deudoras</h4>
            </div>
          </div>
          \
          <div class="p-whiteBg">
            <div>
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/quote1.png'%}"
                alt=""
                class="tabletqoute"
              />

              <img
                src="{% static 'debtors/Frontend/assets/about us assests/qoute1 mobile.png'%}"
                alt=""
                class="mobile"
              />
            </div>

            <p>
              We are firm believers that commerce can thrive while upholding
              moral principles, which is why we developed a debtors platform
              that enables Gbagada local schools to upload a list of students
              who have unpaid school fees in order to stop them from enrolling
              in other schools.
            </p>
            <span
              ><img
                src="{% static 'debtors/Frontend/assets/about us assests/qoute2.png'%}"
                alt=""
                class="tabletqoute" />
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/qoute2 mobile.png'%}"
                alt=""
                class="mobile"
            /></span>
          </div>
        </div>
        <div class="section2">
          <img
            src="{% static 'debtors/Frontend/assets/about us assests/black businessman in blue suit applauding tablet.png'%}"
            alt=""
            class="tablet"
          />
          <img
            src="{% static 'debtors/Frontend/assets/about us assests/black businessman in blue suit applauding desktop 2.png'%}"
            alt="black suit man"
            class="desktop"
          />
          <img
            src="{% static 'debtors/Frontend/assets/about us assests/black businessman in blue suit applauding mobile.png'%} "
            alt=""
            class="mobile"
          />
        </div>
      </section>
      <section class="Container sections main-row-flex3">
        <div class="section2">
          <section class="main-row-flex">
            <div class="first-row">
              <div class="row">
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/book desk.png'%}"
                  class="desktop"
                  alt=""
                />
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/book tablet.png'%}"
                  class="tablet"
                  alt=""
                />

                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/book mobile.png'%}"
                  class="mobile"
                  alt=""
                />
                <h4>Transparency</h4>
                <p>
                  We provide information in a way that promotes alignment and
                  provides context. Being careful and thoughtful is essential to
                  the growth of the high-performing team that we are and aim to
                  be.
                </p>
              </div>
              <div class="row">
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/hand desk.png'%}"
                  class="desktop"
                  alt="hand"
                />
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/hand mobile.png'%}"
                  class="mobile"
                  alt=""
                />
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/hand tablet.png'%}"
                  class="tablet"
                  alt=""
                />
                <h4>Helping Hand</h4>
                <p>
                  Our team is readily available and always prepared to assist
                  our users in any form is required.
                </p>
              </div>
            </div>
            <div class="row">
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/people desk.png'%}"
                class="desktop"
                alt="hand"
              />
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/people tablet.png'%}"
                class="tablet"
                alt=""
              />
              <img
                src="{% static 'debtors/Frontend/assets/about us assests/people mobile.png'%}"
                class="mobile"
                alt=""
              />
              <h4>User Oriented</h4>
              <p>
                Our primary goal is to satisfy our users' needs. We prioritize
                our users' needs by being empathetic and utilizing our team to
                give them the services they need.
              </p>
            </div>
          </section>
        </div>
        <div class="section1">
          <div class="heading">
            <div class="slant-line"></div>
            <div>
              <h3>Our Value</h3>
              <h4>Deudoras</h4>
            </div>
          </div>
          <p class="p-back">
            At Deudoras, we put our values into practice in order to support the
            platform's vision and mission and make it progressive.
          </p>
        </div>
      </section>
      <section class="section4">
        <article class="Container">
          <h2>Our Story</h2>
          <p>
            According to research, 30 percent of students have not yet paid for
            the previous year's tuition, which is indicative of the epidemic of
            parents' and guardians' irregular fee payments. Additionally,
            parents who transfer their kids to different schools without paying
            the necessary fees are trying to outsmart the school. We started by
            addressing the basic problems of students not paying their due fees
            and transferring to other schools as well as providing a trustworthy
            method of fee debt tracking. As a result, most schools close their
            doors due to a lack of funds used to maintain the school structure,
            leaving school owners at an all-time low and occasionally running
            into debt while attempting to maintain the school.
          </p>
          <p>
            In order to address the issue, we at Deudoras conducted the required
            research to better understand our target audience. After reviewing
            the results of the research, we went on to develop this platform. In
            order to secure the smooth operation of their schools, our purpose
            was to assist in relieving school owners of the persistent problem
            of school fee defaulters.
          </p>
        </article>
      </section>
      <section class="Container NewsLetter">
        <div>
          <h2>Get Our NewsLetter</h2>
          <p>We send updates every month</p>
        </div>
        <div class="flex-input">
          <input type="text" placeholder="Your Email Address" />
          <button>Subscribe</button>
        </div>
      </section>
      <footer>
        <div class="Container">
          <div class="logo-img">
            <img
              src="{% static 'debtors/Frontend/assets/about us assests/project debtor logo svg mobile.png'%}"
              alt=""
              class="mobile"
            />
            <img
              src="{% static 'debtors/Frontend/assets/about us assests/project debtor logo svg footer desktop.png'%}"
              alt=""
              class="desktop"
            />
            <img
              src="{% static 'debtors/Frontend/assets/about us assests/project debtor logo svg footer tab.png'%}"
              alt=""
              class="tablet"
            />
          </div>

          <div class="footer-flex">
            <div class="contact-flex">
              <div>
                <p id="mail">deudoras@gmail.com</p>
                <p>+234 000 0000 000 (NIG)</p>
              </div>

              <div class="social">
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/facebook.png'%}"
                  alt="facebook"
                  class="desktop"
                />
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/facebook tab.png'%}"
                  alt="facebook"
                  class="tablet"
                />
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/bi_facebook mobile.png'%}"
                  alt="facebook"
                  class="mobile"
                />
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/twitter.png'%}"
                  alt="twitter"
                  class="desktop"
                />
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/bi_twitter mobile.png'%}"
                  alt="twitter"
                  class="mobile"
                />

                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/twitter tab.png'%}"
                  alt="twitter"
                  class="tablet"
                />
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/insta.png'%}"
                  alt="instagram"
                  class="desktop"
                />
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/instagram tab.png'%}"
                  alt="instagram"
                  class="tablet"
                />
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/bxl_instagram-alt mobile.png'%}"
                  alt="instagram"
                  class="mobile"
                />
              </div>
            </div>
            <div class="ul-flex">
              <ul>
                <li class="first-list-item">Company</li>
                <li>Contact Us</li>
                <li>About</li>
                <li>Hiring</li>
                <li>Privacy Policy</li>
              </ul>
              <ul>
                <li class="first-list-item">Product</li>
                <li>How it works</li>
                <li>Sign Up</li>
                <li>Log in</li>
                <li>Comments</li>
              </ul>
              <ul>
                <li class="first-list-item">Community</li>
                <li>Open Source</li>
                <li>Slack</li>
                <li>Help</li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
