{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="{% static 'debtors/Frontend/scripts/school_dashboard script/school_dashboard.js'%}"
      defer
    ></script>
    <title>Debt Tracking Website (Deudoras) - Dashboard for School</title>
    <link
      rel="stylesheet"
      href="{% static 'debtors/Frontend/style/school_dashboard/school_dashboard.css'%}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&family=Public+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <nav id="mobile-nav">
        <img
          src="{% static 'debtors/Frontend/assets/about us assests/hamClose.png'%}"
          id="close"
          alt="close button"
        />
        <ul>
          <li><a href="">Dashboard</a></li>
          <li class="activeMobileNav">Profile</li>
          <li><a href="{% url 'School list' %}">Schools</a></li>
          <li><a href="{% url 'debtors list' %}">Debtors List</li>
          
          <li<a href="{% url 'Articles' %}">>Articles</li>
          <li<a href="{% url 'Help' %}">Help</li>
        </ul>
        <button><a href="{% url 'signout' %}">Log Out</button>
      </nav>
      <aside class="desktop">
        <div class="sidebar">
          <img
            src="{% static 'debtors/Frontend/assets/school_dashboard assets/desktoplogo.png'%}"
            alt=""
            class="desktop desklogo"
          />
          <img src="" alt="tablet-logo" class="tablet" />

          <nav>
            <div class="navItem">
              <span class="activeMenuDesktop"
                ><img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/dashboardIcon.png'%}"
                  alt=""
                /><a href=" ">Dashboard</a></span
              >
              <span
                ><img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/profile.png'%}"
                  alt=""
                />Profile</span
              >
              <span
                ><img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/teacher.png'%}"
                  alt=""
                />
                <a href="{% url 'School list' %}">Schools</a>
              </span>
              <span
                ><img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/receipt-item.png'%}"
                  alt=""
                />Debtors List</span
              >
              <span
                ><img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/book.png'%}"
                  alt=""
                />Article</span
              >
            </div>
            <div class="navItem navItemMB">
              <span
                ><img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/device-message.png'%}"
                  alt=""
                /><a href="{% url 'Help' %}">Need Help?</span
              >
              <span class="danger-btn">
                <img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/logout.png'%}"
                  alt=""
                /><a href="{% url 'signout' %}">Log Out
              </span>
            </div>
          </nav>
        </div>
      </aside>
      <aside class="tablet tablet-sidebar">
        <img
          src="{% static 'debtors/Frontend/assets/school_dashboard assets/tab log.png'%}"
          alt=""
          class="tabletLOgo"
        />
        <nav>
          <div class="navItem">
            <span class="activeMenuDesktop"
              ><img
                src="{% static 'debtors/Frontend/assets/school_dashboard assets/dashTab.png'%}"
                alt=""
              /><a href="">Dashboard</a></span
            >
            <span
              ><img
                src="{% static 'debtors/Frontend/assets/school_dashboard assets/profileTab.png'%}"
                alt=""
              />Profile</span
            >
            <span
              ><img
                src="{% static 'debtors/Frontend/assets/school_dashboard assets/ion_school-outline tab.png'%}"
                alt=""
              /><a href="school_dashboard_school.html">Schools</a></span
            >
            <span
              ><img
                src="{% static 'debtors/Frontend/assets/school_dashboard assets/receipt-item tab.png'%}"
                alt=""
              />Debtors List</span
            >
            <span
              ><img
                src="{% static 'debtors/Frontend/assets/school_dashboard assets/book tab.png'%}"
                alt=""
              />Article</span
            >
          </div>
          <div class="navItem navItemMB">
            <span
              ><img
                src="{% static 'debtors/Frontend/assets/school_dashboard assets/device-message tab.png'%}"
                alt=""
              />Need Help?</span
            >
            <span class="danger-btn">
              <img
                src="{% static 'debtors/Frontend/assets/school_dashboard assets/logout tab.png'%}"
                alt=""
              />Log Out
            </span>
          </div>
        </nav>
      </aside>
      <section class="Content">
        <div class="Container">
          <section class="first-section">
            <div class="mobileMain">
              <div class="logo">
                <img
                  src="{% static 'debtors/Frontend/assets/about us assests/HamOPen.png'%}"
                  alt="hamopen"
                  class="mobileBtnOpen"
                />
                <img src="" alt="mobile-logo" />
              </div>

              <div class="search">
                <img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/icon-bell.png'%}"
                  alt="notificationIcon"
                />
                <div class="search_noti">
                  <p>B</p>
                  <img
                    src="{% static 'debtors/Frontend/assets/signup_school assets/'%}"
                    alt="dropdownIcon"
                  />
                </div>
              </div>
            </div>
            <div class="firstSectionArticle">
              <div>
                <h2>Welcome, RoseBorn Secondary School.</h2>
                <p class="desktop-tablet">
                  Learn whether your child is currently defaulting on his/her
                  school fees today.
                </p>
              </div>
              <div class="desktop-tablet search">
                <div class="serach-on">
                  <img
                    src="{% static 'debtors/Frontend/assets/school_dashboard assets/bx-search-alt.png'%}"
                    alt="searchIcon"
                  />
                  <input placeholder="Search (Ctrl+/)" />
                </div>
                <div class="search_noti">
                  <img
                    src="{% static 'debtors/Frontend/assets/school_dashboard assets/icon-bell.png'%}"
                    alt="notificationIcon"
                  />
                  <div class="dropFlex">
                    <p>B</p>
                    <img
                      src="{% static 'debtors/Frontend/assets/school_dashboard assets/arrow-down.png'%}"
                      alt="dropdownIcon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="second-section desktop-tablet">
            <div class="card card1">
              <h4>Total Debt Recoveries</h4>
              <img
                src="{% static 'debtors/Frontend/assets/school_dashboard assets/transactions-icon.png'%}"
                alt=""
              />
              <h3>N30,000,000</h3>
              <div class="progressContain">
                <div class="progress">
                  <div class="progressFlex">
                    <p>Recovery Target</p>
                    <div class="progressBar">
                      <span style="width: 78%"></span>
                    </div>
                  </div>
                  <p>78%</p>
                </div>
              </div>
            </div>
            <div class="card card2">
              <h4>Numbers of Schools</h4>
              <img
                src="{% static 'debtors/Frontend/assets/school_dashboard assets/transactions-icon.png'%}"
                alt=""
              />
              <h3>3,000</h3>
              <div class="dangerText">
                <img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/Path.png'%}"
                  alt="dangerDrop"
                />-13.24%
              </div>
            </div>
            <div class="card card3">
              <h4>Recent Articles</h4>
              <p>
                I have paid my son’s school fees, but my name is still showing
                that I have not paid, why?
              </p>
              <p>
                I have paid my son’s school fees, but my name is still showing
                that I have not paid, why?
              </p>
              <p>
                I have paid my son’s school fees, but my name is still showing
                that I have not paid, why?
              </p>
            </div>
            <div class="card card4">
              <h4>Recent Disputes</h4>
              <div class="backwhite">
                <img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/arash.png'%}"
                  alt="people"
                  class="avater"
                />
                <div>
                  <p>
                    I have paid my son’s school fees, but my name is still
                    showing that I have not paid, why?
                  </p>
                  <p class="specialPara">Adesanmi Beth</p>
                </div>
              </div>
              <div class="backwhite">
                <img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/arash.png'%}"
                  alt="people"
                  class="avater"
                />
                <div>
                  <p>
                    Please update my outstanding payment 20,000 naira so update
                    it.
                  </p>
                  <p class="specialPara">John Vic</p>
                </div>
              </div>
              <div class="backwhite">
                <img
                  src="{% static 'debtors/Frontend/assets/school_dashboard assets/arash.png'%}"
                  alt="people"
                  class="avater"
                />
                <div>
                  <p>
                    I have been trying to update my paymrnt but its not working,
                    I was told to pay directly to the school.....
                  </p>
                  <p class="specialPara">Eunice Goffery</p>
                </div>
              </div>
            </div>
          </section>
          <section class="third-section">
            <h3>Recently Uploaded</h3>
            <div class="tablepadding">
              <table>
                <thead>
                  <tr>
                    <th class="snrow">S/N</th>
                    <th class="srow">Student ID</th>
                    <th class="nrow">Name of School</th>
                    <th class="arow arth">Amount Outstanding</th>
                    <th class="brow"></th>
                  </tr>
                </thead>
              </table>
              <div class="table">
                <table>
                  <tbody>
                    <tr>
                      <td class="sn_no snrow">001</td>
                      <td class="srow">STU20001</td>
                      <td class="nrow">Glorious Kids International School</td>
                      <td class="arow">NGN 40,000</td>
                      <td class="brow"><button>View</button></td>
                    </tr>
                    <tr class="special-bg-table">
                      <td class="sn_no snrow"></td>
                      <td class="srow"></td>
                      <td class="nrow"></td>
                      <td class="arow"></td>
                      <td class="brow"></td>
                    </tr>
                    <tr>
                      <td class="sn_no snrow">001</td>
                      <td class="srow">STU20001</td>
                      <td class="nrow">Glorious Kids International School</td>
                      <td class="arow">NGN 40,000</td>
                      <td class="brow"><button>View</button></td>
                    </tr>
                    <tr class="special-bg-table">
                      <td class="sn_no snrow"></td>
                      <td class="srow"></td>
                      <td class="nrow"></td>
                      <td class="arow"></td>
                      <td class="brow"></td>
                    </tr>
                    <tr>
                      <td class="sn_no snrow">001</td>
                      <td class="srow">STU20001</td>
                      <td class="nrow">Glorious Kids International School</td>
                      <td class="arow">NGN 40,000</td>
                      <td class="brow"><button>View</button></td>
                    </tr>
                    <tr class="special-bg-table">
                      <td class="sn_no snrow"></td>
                      <td class="srow"></td>
                      <td class="nrow"></td>
                      <td class="arow"></td>
                      <td class="brow"></td>
                    </tr>
                    <tr>
                      <td class="sn_no snrow">001</td>
                      <td class="srow">STU20001</td>
                      <td class="nrow">Glorious Kids International School</td>
                      <td class="arow">NGN 40,000</td>
                      <td class="brow"><button>View</button></td>
                    </tr>
                    <tr class="special-bg-table">
                      <td class="sn_no snrow"></td>
                      <td class="srow"></td>
                      <td class="nrow"></td>
                      <td class="arow"></td>
                      <td class="brow"></td>
                    </tr>
                    <tr>
                      <td class="sn_no snrow">001</td>
                      <td class="srow">STU20001</td>
                      <td class="nrow">Glorious Kids International School</td>
                      <td class="arow">NGN 40,000</td>
                      <td class="brow"><button>View</button></td>
                    </tr>
                    <tr class="special-bg-table">
                      <td class="sn_no snrow"></td>
                      <td class="srow"></td>
                      <td class="nrow"></td>
                      <td class="arow"></td>
                      <td class="brow"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>
  </body>
</html>
