{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Debt Tracking Website (Deudoras) - Dashboard for School</title>
  </head>
  <body>
    <main>
      <section id="info"></section>
    </main>
    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.production.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
    ></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script
      src="{% static 'debtors/Frontend/scripts/school_dashboard script/school_dashboard.js'%}"
      type="text/babel"
    ></script>
    <script type="text/babel">
      const domContainer = document.querySelector("#info");
      ReactDOM.render(<School_dashboard />, domContainer);
    </script>
  </body>
</html>
