{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="{% static 'debtors/Frontend//scripts/school_dashboard script/school_dashboard.js'%}"
      defer
    ></script>
    <title>Debt Tracking Website (Deudoras) - Dashboard for School</title>
    <link
      rel="stylesheet"
      href="{% static 'debtors/Frontend//style/school_dashboard/school_dashboard.css'%}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&family=Public+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <nav id="mobile-nav">
        <img
          src="{% static 'debtors/Frontend//assets/about us assests/hamClose.png'%}"
          id="close"
          alt="close button"
        />
        <ul>
          <li><a href="school_dashboard.html">Dashboard</a></li>
          <li class="activeMobileNav">Profile</li>
          <li><a href="school_dashboard_school.html">Schools</a></li>
          <li>Debtors List</li>
          <li>Articles</li>
          <li>Help</li>
        </ul>
        <button>Log Out</button>
      </nav>
      <aside class="desktop">
        <div class="sidebar">
          <img
            src="{% static 'debtors/Frontend//assets/school_dashboard assets/desktoplogo.png'%}"
            alt=""
            class="desktop desklogo"
          />
          <img src="" alt="tablet-logo" class="tablet" />

          <nav>
            <div class="navItem">
              <span
                ><img
                  src="{% static 'debtors/Frontend//assets/school_dashboard assets/whiteDashDesk.png'%}"
                  alt=""
                /><a href="school_dashboard.html">Dashboard</a></span
              >
              <span
                ><img
                  src="{% static 'debtors/Frontend//assets/school_dashboard assets/profile.png'%}"
                  alt=""
                />Profile</span
              >
              <span class="activeMenuDesktop"
                ><img
                  src="{% static 'debtors/Frontend//assets/school_dashboard assets/ion_school-outline.png'%}"
                  alt=""
                />
                <a href="school_dashboard_school.html">Schools</a>
              </span>
              <span
                ><img
                  src="{% static 'debtors/Frontend//assets/school_dashboard assets/receipt-item.png'%}"
                  alt=""
                />Debtors List</span
              >
              <span
                ><img
                  src="{% static 'debtors/Frontend//assets/school_dashboard assets/book.png'%}"
                  alt=""
                />Article</span
              >
            </div>
            <div class="navItem navItemMB">
              <span
                ><img
                  src="{% static 'debtors/Frontend//assets/school_dashboard assets/device-message.png'%}"
                  alt=""
                />Need Help?</span
              >
              <span class="danger-btn">
                <img
                  src="{% static 'debtors/Frontend//assets/school_dashboard assets/logout.png'%}"
                  alt=""
                />Log Out
              </span>
            </div>
          </nav>
        </div>
      </aside>
      <aside class="tablet tablet-sidebar">
        <img
          src="{% static 'debtors/Frontend//assets/school_dashboard assets/tab log.png'%}"
          alt=""
          class="tabletLOgo"
        />
        <nav>
          <div class="navItem">
            <span
              ><img
                src="{% static 'debtors/Frontend//assets/school_dashboard assets/dash tab w.png'%}"
                alt=""
              /><a href="school_dashboard.html">Dashboard</a></span
            >
            <span
              ><img
                src="{% static 'debtors/Frontend//assets/school_dashboard assets/profileTab.png'%}"
                alt=""
              />Profile</span
            >
            <span class="activeMenuDesktop"
              ><img
                src="{% static 'debtors/Frontend//assets/school_dashboard assets/ion_school-outline tab.png'%}"
                alt=""
              /><a href="school_dashboard_school.html">Schools</a></span
            >
            <span
              ><img
                src="{% static 'debtors/Frontend//assets/school_dashboard assets/receipt-item tab.png'%}"
                alt=""
              />Debtors List</span
            >
            <span
              ><img
                src="{% static 'debtors/Frontend//assets/school_dashboard assets/book tab.png'%}"
                alt=""
              />Article</span
            >
          </div>
          <div class="navItem navItemMB">
            <span
              ><img
                src="{% static 'debtors/Frontend//assets/school_dashboard assets/device-message tab.png'%}"
                alt=""
              />Need Help?</span
            >
            <span class="danger-btn">
              <img
                src="{% static 'debtors/Frontend//assets/school_dashboard assets/logout tab.png'%}"
                alt=""
              />Log Out
            </span>
          </div>
        </nav>
      </aside>
      <section class="Content">
        <div class="Container">
          <section class="first-section">
            <div class="mobileMain">
              <div class="logo">
                <img
                  src="{% static 'debtors/Frontend//assets/about us assests/HamOPen.png'%}"
                  alt="hamopen"
                  class="mobileBtnOpen"
                />
                <img src="" alt="mobile-logo" />
              </div>
            </div>
            <div class="firstSectionArticle pageSchool">
              <div class="pageView totalDebt">
                <h2>Diamond Bloom Nursery and Primary School</h2>
                <div class="studentFlex">
                  <p>Student Name : <span>Adesua Obanwole</span></p>
                  <p>Student ID : <span>A4605DO</span></p>
                  <p>Name of Guardian : <span>John Obawonle</span></p>
                  <p>Phone Number: <span>+234 000 0000 000</span></p>
                  <p>Email Address : <span>johnobanwole@email.com</span></p>
                  <p>
                    Home Address :<span>
                      No. 2 Joshua Adams Crescent, Gbagada, Lagos.</span
                    >
                  </p>
                  <p class="DangerTotalDebt">
                    Total Oustanding Amount : NGN 80,000
                  </p>
                </div>
              </div>
            </div>
          </section>
          <section class="second-section-school-view">
            <h3>BreakDown of Student Debt</h3>
            <table>
              <thead>
                <tr>
                  <th class="bor1">Session</th>
                  <th>Term</th>
                  <th>Class of Student</th>
                  <th>Amount Outstanding</th>
                  <th class="bor2"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2020/2021</td>
                  <td>First Term</td>
                  <td>SSS 2</td>
                  <td class="dangerAmount">NGN 10,000</td>
                  <td class="viewD">View Details</td>
                </tr>
                <tr>
                  <td>2018/2019</td>
                  <td>Third Term</td>
                  <td>JSS 3</td>
                  <td class="dangerAmount">NGN 30,000</td>
                  <td class="viewD">View Details</td>
                </tr>
                <tr>
                  <td>2018/2019</td>
                  <td>First Term</td>
                  <td>JSS 3</td>
                  <td class="dangerAmount">NGN 40,000</td>
                  <td class="viewD">View Details</td>
                </tr>
              </tbody>
            </table>
          </section>
          <section class="Comments">
            <form action="#">
              <div class="form">
                <div>
                  <label for="comment">Comment</label>
                  <textarea
                    name="comment"
                    id="comment"
                    placeholder="Leave a comment here"
                  ></textarea>
                </div>
                <button type="submit">Post</button>
              </div>
            </form>
          </section>
        </div>
      </section>
    </main>
  </body>
</html>
